<form action="">
  <div class="container">
    <div class="imagebox">
      <img src="./assets/images/login-img.png" alt="">
      <h1>We are happy <br> to have you back.</h1>
     </div>
     <div class="logbox">
           <img src="./assets/images/logo_login_page - 151x48.jpg" alt="">
           <div class="divs">
            <h3>Welcome back!</h3>
            <h1><span>Login</span> to Your Account</h1>
           </div>
           <div class="divs">
            <input type="text" placeholder="User Name">
            <input type="password" placeholder="Password">
           </div>
           <div class="divs">
            <button>Login</button>
            <p>Forgot password</p>
           </div>
     </div>
</div>
</form>

