<div class="bodyy" (sendData)="sendData($event)">
  <div [ngClass]="side?'sidebar':'sidebar1'">
    <ul class="sidebarul">
      <li><i class="pi pi-home icons"></i><p>Home</p></li>
      <li (click)="onclickli()"><a routerLinkActive="active" routerLink="/new"><i class="pi pi-wallet"></i><p>Loan Request</p></a></li>
      <li (click)="onclicklil()"><a routerLinkActive="active" routerLink="/crew"><i class="pi pi-slack"></i><p>My Crew Queue</p></a></li>
      <li><i class="pi pi-chart-line"> </i><p>Reports</p></li>
      <li><i class="pi pi-cog"></i><p>Settings</p> </li>
      <li><i class="pi pi-microsoft"></i><p>Dashboard</p> </li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
    <!-- <app-assigned-crew></app-assigned-crew> -->
    <!-- <app-new-customer></app-new-customer> -->
  </div>
</div>

