<form action="">
  <div class="container">

    <div class="blu-bx-ctnr">
      <div class="customer-brief-bluebox">
        <div class="customer-brief-whitebox">
          <img src="./assets/images1.jfif" alt="varghese" >
          <div class="customer-brief-whitebox-items">
            <h3 class="customer-brief-whitebox-item1">A Laxmi Narasimha Bai</h3>
            <p class="customer-brief-whitebox-item2">Female/42yrs</p>
            <a href="#" class="customer-brief-whitebox-item3">more info +</a>
          </div>
        </div>
        <div class="customer-brief-table-container-box">
          <div class="customer-brief-table-container">
            <table class="customer-brief-table">
              <tr>
                <td class="customer-brief-table-firstcol">Type</td>
                <td>Vehicle Loan</td>
              </tr>
              <tr>
                <td class="customer-brief-table-firstcol">Appl.No</td>
                <td>VL-001201</td>
              </tr>
            </table>
          </div>
          <div class="customer-brief-table-container">
            <table class="customer-brief-table">
              <tr>
                <td class="customer-brief-table-firstcol">Amount</td>
                <td>50000</td>
              </tr>
              <tr>
                <td class="customer-brief-table-firstcol">Priority</td>
                <td style="color: red;">High</td>
              </tr>
            </table>
          </div>
          <div class="customer-brief-table-container">
            <table>
              <tr>
                <td class="customer-brief-table-firstcol">status</td>
                <td style="color: rgb(90, 90, 253);">New</td>
              </tr>
              <tr>
                <td class="customer-brief-table-firstcol">Stage</td>
                <td>Credit Disbursement Approver</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="plist">
        <p>Document Collection</p>
        <p>Customer Interaction</p>
        <p>validation & Signoff</p>
        <p>Credit sanction</p>
        <p>Signature& Signoff</p>
        <p class="pl">Credit Disbursement Approver</p>
      </div>
      <div class="progressing">
        <ul>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
        </ul>
      </div>
      <div class="plist1">
        <p>quality check</p>
        <p>Verification Process</p>
        <p>Credit underwriting check</p>
        <p>Loan documentExecution</p>
        <p>Credit Disbursement</p>
        <!-- <p class="pl">Credit Disbursement Approver</p> -->
      </div>
    </div>
     <div>
       <h1>Credit Disbursement Authorisation</h1>
     </div>
    <div class="customer-info">
      <h3>Credit Disbursement</h3>
      <div class="prime">
          <table>
            <tr>
              <th>Documents</th>
              <th colspan="2">Borrower</th>
              <th colspan="2">co-borrower</th>
            </tr>
            <tr>
              <td></td>
              <td class="secondcol">Filled</td>
              <td class="secondcol">Signed</td>
              <td class="secondcol">Filled</td>
              <td class="secondcol">Signed</td>
            </tr>
            <tr>
              <td class="firstcol">Loan Application Form(with Photograph affixed)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Sanction letter of customer</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Loan Application Form(with Photograph affixed)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Sanction letter of customer</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Loan Application Form(with Photograph affixed)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Sanction letter of customer</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td>
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
          </table>
          <table>
            <tr>
              <th>Product Specific</th>
            </tr>
            <tr>
              <td class="firstcol">Sanction letter of customer</td>
              <td class="secondcol"><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td class="secondcol"><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td class="secondcol"><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td class="secondcol"><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Loan Application Form(with Photograph affixed)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Sanction letter of customer</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
            <tr>
              <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
              <td><label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </td>
            </tr>
          </table>
          <div class="intable">
            <table>
              <tr>
                <td>Any unusual Account changes in CBs</td>
                <td><input type="text"></td>
              </tr>
              <tr>
                <td>CBS Loan A/C number after booking in CBS</td>
                <td><input type="text"></td>
              </tr>
              <tr>
                <td>Disbursement Date</td>
                <td><input type="text"></td>
              </tr>
              <tr>
                <td>EMI Date</td>
                <td><input type="text"></td>
              </tr>
              <tr>
                <td>EMI Amount</td>
                <td><input type="text"></td>
              </tr>
              <tr>
                <td>Comments</td>
                <td><input type="text"></td>
              </tr>
            </table>
          </div>
      </div>
    </div>
    <div class="btns">
      <div>
        <button class="sav">Complete</button>
        <button class="compt"  type="submit">Refer Back</button>
      </div>
    </div>
  </div>

 </form>



