<div>
  <div class="customer-bluebox">
    <div class="customer-blueboxed">
      <table>
        <tr>
          <td><a href="#">A Laxmi Bai</a></td>
          <td>Vehicle Loan</td>
          <td rowspan="2">
            <div class="divwidt1">
            <div class="assingne">JD</div>
            <p>10 mts.ago</p>
            </div>
          </td>
          <td rowspan="2" class="pro">
            <div class="divwidt3">
              <progress max="10" value="8"></progress>
              <p>9/11</p>
            </div>
          </td>
          <td rowspan="2">
            <div class="divwidt4">
              <h5>Referback</h5>
            </div>
          </td>
          <td rowspan="2">
            <div class="divwidt">
              <div class="ontrack">On Track</div>
            </div>
          </td>
          <td rowspan="2" class="lastcol">
            <div class="divwidt2">
              <i class="pi pi-arrow-right"></i>
              <button>View/Edit</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>50000.00</td>
          <td>VL-001254</td>
        </tr>
      </table>
    </div>
</div>
<div class="customer-bluebox">
  <div class="customer-blueboxed">
    <table>
      <tr>
        <td><a href="#">Mahesh</a> </td>
        <td>Personal Loan</td>
        <td rowspan="2">
          <div class="divwidt1">
          <div class="assingne">JD</div>
          <p>12 mts.ago</p>
          </div>
        </td>
        <td rowspan="2" class="pro">
          <div class="divwidt3">
            <progress max="10" value="8"></progress>
            <p>9/11</p>
          </div>
        </td>
        <td rowspan="2">
          <div class="divwidt4">
            <h5 class="newc">New</h5>
          </div>
        </td>
        <td rowspan="2">
          <div class="divwidt">
            <div class="ontrack">On Track</div>
          </div>
        </td>
        <td rowspan="2" class="lastcol">
          <div class="divwidt2">
            <i class="pi pi-arrow-up"></i>
            <button>View/Edit</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>100000.00</td>
        <td>PL-008354</td>
      </tr>
    </table>
  </div>
</div>
<div class="customer-bluebox">
  <div class="customer-blueboxed">
    <table>
      <tr>
        <td><a href="#">Bevin</a></td>
        <td>Vehicle Loan</td>
        <td rowspan="2">
          <div class="divwidt1">
          <div class="assingne">JD</div>
          <p>1 day ago</p>
          </div>
        </td>
        <td rowspan="2" class="pro">
          <div class="divwidt6">
            <progress max="10" value="8"></progress>
            <p>9/11</p>
          </div>
        </td>
        <td rowspan="2">
          <div class="divwidt4">
            <h5 class="newc">New</h5>
          </div>
        </td>
        <td rowspan="2">
          <div class="divwidt">
            <div class="delay">Delayed</div>
          </div>
        </td>
        <td rowspan="2" class="lastcol">
          <div class="divwidt2">
            <i class="pi pi-arrow-down"></i>
            <button>View/Edit</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>50000.00</td>
        <td>VL-005654</td>
      </tr>
    </table>
  </div>
</div>
</div>

