@import "src/styles.scss";
.customer-bluebox{
  display: flex;
  flex-direction: row;
  @include displays;
  width: 100%;
  height: 90px;
  // background-color: rgb(241, 143, 143);
  border-radius: 10px;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 2px solid rgb(238, 238, 238);
  margin-bottom: 2px;
  font-weight: $mediumfont;
  font-size: $smallfont;
  .customer-blueboxed{
    width: 100%;
    // background-color: burlywood;
    table{
      margin-left: 10px;
      width: 98%;
      text-align: left;
      // border: 1px solid black;
      a{
        color: rgb(35, 119, 228);
      }
      td{
        padding: 0;
        width: 12%;
        color: $gray;
      }
      .pro{
        width: 16%;
      }
      .lastcol{
        width: 24%;
      }
    }
    .divwidt1{
      padding-left: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:flex-start;
      // border: 1px solid black;
      width: 100%;
      p{
        font-size:x-small;
        font-weight: $lightfont;
        @include sizezero;
      }
      .assingne{
        color: $darkblue;
        width: 30px;
        height: 30px;
        padding: 4px;
        border-radius: 50%;
        font-weight: $thickestfont;
        font-size: $smallfont;
        text-align: center;
        background-color: $skyblue;
      }
    }

    .divwidt3{
      display:flex;
      justify-content:flex-start;
      align-items: center;
      // border: 1px solid black;
      width: 100%;
      progress{
        margin-right: 8px;
        -webkit-appearance: none;
         width: 125px;
         height:6px;
         overflow: hidden;
         &::-webkit-progress-bar{
           background:rgb(217, 230, 248) ;
           border-radius: 25px;
         }
         &::-webkit-progress-value{
           background: rgb(35, 119, 228);
           border-radius: 25px;
         }
        }
      p{
        @include sizezero;
      }
    }
    .divwidt6{
      display:flex;
      justify-content:flex-start;
      align-items: center;
      // border: 1px solid black;
      width: 100%;
      progress{
        margin-right: 8px;
        -webkit-appearance: none;
         width: 125px;
         height: 6px;
         overflow: hidden;
         &::-webkit-progress-bar{
           background:rgb(217, 230, 248) ;
           border-radius: 25px;
         }
         &::-webkit-progress-value{
           background: rgb(251, 61, 61);
           border-radius: 25px;
         }
        }
      p{
        @include sizezero;
      }
    }
    .divwidt4{
      // border: 1px solid black;
      display: flex;
      justify-content:flex-start;
      align-items: center;
      width: 100%;
      h5{
        margin-left: 23px;
        font-weight: $mediumfont;
        font-size: $smallfont;
        color: $red;
      }
      .newc{
        color:rgb(35, 119, 228);
      }
    }
    .divwidt{
      // border: 1px solid black;
      display: flex;
      justify-content:flex-start;
      align-items: center;
      width: 100%;
      .ontrack{
        text-align: center;
        padding-top: 2px;
        margin-left: 14px;
        color:$white;
        font-weight:$lightfont ;
        font-size:smaller;
        width: 70px;
       height: 20px;
       border-radius: 5px;
       background-color: rgb(35, 119, 228);
      }
      .delay{
        padding-top: 2px;
        text-align: center;
        margin-left: 14px;
        color:$white;
        font-weight:$lightfont ;
        font-size:smaller;
        width: 70px;
       height: 20px;
       border-radius: 5px;
       background-color: rgb(251, 61, 61);
      }
    }
    .divwidt2{
      // border: 1px solid black;
      padding-right: 15px;
      width:100%;
      display: flex;
      justify-content:flex-end;
      align-items: center;
      i{
        margin-right: 20px;
        font-weight:$thickestfont;
        font-size:large;
        color: orangered;
      }
      .pi-arrow-down{
        color: green;
      }
      .pi-arrow-up{
        color: red;
      }
      button{
        color:$darkblue;
       font-weight: $thickfont ;
        font-size: small;
       width: 90px;
      height: 25px;
      border-radius: 8px;
      border: 1px solid $darkblue;
      background-color: $white;
      outline: none;
     }
    }
   }
 }
