@import "src/styles.scss";
.header{
  @include displays;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  max-width: 1811.8px;
  height: 63.5px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid $color-12;
  // background-color: darkgoldenrod;
  .logo{
    // padding: 5px;
    width: 40%;
    // height: 50px;
    img{
      // width: 120px;
      // margin-left: 15px;
      // width: 141px;
      // margin-left: 45px;
      width: 141.9px;
      height: 45.1px;
       margin: 0 96.3px 15.3px 34.8px;

    }
    // background-color: aqua
    // margin-bottom: 5px;
    // h1{
    //   @include sizezero;
    //   margin-left: 10px;
    //   color: $red;
    // }
    // span{
    //   color: $darkblue;
    // }
    // p{
    //   @include sizezero;
    //   margin-left: 10px;
    //   font-size:xx-small;
    // }
  }
   .header-nav{
     @include displays;
     width: 35%;
     height: 63.5px;
     .header-nav-branch-select{
      font-family: $fontfamily;
      padding: 10px 30px 10px 20px;
      width: 174.8px;
      height: 40.4px;
      margin-bottom: 15.3px;
      color: $color-03;
      border-radius: 15px;
      font-size: 14px;
      font-weight: Regular;
      outline: none;
      border: 1px solid $color-06;
    }
    .header-nav-bell{
      // background-color: $white;
      // border-radius: 50%;
      // margin-bottom: 15.3px;
      // width: 41.4px;
      // height: 41.4px;
      // text-align: center;
      // // box-shadow: 1px 0.9px 30px $lightgray;
      // box-shadow: -6px 14px 34px 0 rgba(0, 0, 0, 0.16);
      height: 53.5px;

      .st0{
        fill: #ffffff;
      }
      svg{
        // color: #ffffff;
        fill: $color-03;
      border-radius: 50%;
      // margin-bottom: 15.3px;
      // margin-top: 4px;
      width: 41.4px;
      height: 41.4px;
      // text-align: center;
      // box-shadow: 1px 0.9px 30px $lightgray;
      box-shadow: -6px 14px 34px 0 rgba(0, 0, 0, 0.16);
      }
      p{
        padding-top: 1px;
        text-align: center;
        width: 19.7px;
        height: 18.8px;
        background-color: $color-04;
        color: $white;
        border-radius: 50%;
        font-size: 10px;
        font-weight: normal;
        position: relative;
        top: -55px;
        left: 29px;

      }
    }
    .header-nav-customer{
      display:inline-flex;
      align-items: center;
      .header-nav-customer-firstletter{
        background-color: $color-09;
        border-radius: 50%;
        width: 49.8px;
        height: 49.8px;
        margin-bottom:15.3px ;
        // text-align: center;
        h3{
          margin: 10px 0px 0px 0px;
          text-align: center;
          font-size: 17px;
          font-weight: 900;
          color: $color-03;
        }
      }
      .header-nav-customer-select{
        font-family: $fontfamily;
        border-radius: 15px;
        padding: 10px 30px 10px 20px;
        width: 174.8px;
        height: 40.4px;
        margin-bottom: 15.3px;
        color: $color-03;
        // font-weight: $thickestfont;
        font-size: 16px;
        font-weight: 500;
        outline: none;
        border: none;
      }
    }
  }
}
