<div class="header">
  <div class="logo">
    <h1>Co<span>PASS</span></h1>
    <P>community online</P>
  </div>
  <div class="header-nav">
    <select name="option1" class="header-nav-branch-select">
      <option value="" disabled selected>branch</option>
      <option value="1">Option 1</option>
   </select>
    <div class="header-nav-bell"><i class="pi pi-bell"></i><p>13</p></div>
    <div class="header-nav-customer" >
      <div class="header-nav-customer-firstletter"><h3>JD</h3></div>
    <select name="option" class="header-nav-customer-select">
      <option value="" disabled selected>John Doe</option>
      <option value="1">Option 1</option>
   </select>
    </div>
  </div>
</div>
