<form action="">
  <div class="container">
        <h1>Field Verification</h1>
        <div class="customer-info">
          <div class="prime">
            <div class="basic">
              <table>
                <tr>
                  <td colspan="2"><h2>Basic Information</h2></td>
                </tr>
                <tr>
                  <td><label for="firstname">Applicant Name</label></td>
                  <td><input type="text" placeholder="Laxmi Narasimha Bai"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Mobile Number</label></td>
                  <td><input type="text" placeholder="+91 9747 123456"></td>
                </tr>

              </table>
            </div>
            <div class="imgpre">
            </div>
          </div>
        </div>
      <!-- 11111 -->
    <div class="customer-info">
      <div class="prime">
        <div class="basic">
          <table>
            <tr>
              <td colspan="2"><h2>Aadhaar Card</h2></td>
            </tr>
            <tr>
              <td><label for="Aadhaar Number">Aadhaar Number</label></td>
              <td><input type="text" placeholder="2345 6789 9112"></td>
            </tr>
            <tr>
              <td><label for="dob">DOB on Aadhaar</label></td>
              <td><input type="text" placeholder="20/04/1979"></td>
            </tr>
            <tr>
              <td><label for="dob">Age</label></td>
              <td><input type="text" placeholder="42yrs"></td>
            </tr>
          </table>
        </div>
        <div class="imgpre">
          <div class="imgbox">
            <img src="./assets/images/aadhar.jpg" alt="customer image">
          </div>
          <button>Preview <i class="pi pi-eye"></i></button>
        </div>
      </div>
      <div class="second">
        <label for="">Upload Photo</label>
        <button>Upload<i class="pi pi-upload"></i></button>
        <p>file</p>
        <i class="pi pi-pencil"></i>
        <i class="pi pi-trash"></i>
        <progress max="10" value="10"></progress>
        <p>Uploaded 1 file</p>
        <i class="pi pi-minus"></i>
        <i class="pi pi-plus"></i>
        <p>preview</p>
      </div>
      <div class="second">
        <label for="">Upload Photo</label>
        <button>Upload<i class="pi pi-upload"></i></button>
        <p>file</p>
        <i class="pi pi-pencil"></i>
        <i class="pi pi-trash"></i>
        <progress max="10" value="10"></progress>
        <p>Uploaded 1 file</p>
        <i class="pi pi-minus"></i>
        <i class="pi pi-plus"></i>
        <p>preview</p>
      </div>
    </div>
    <!-- 22222 -->
    <div class="customer-info">
      <div class="prime">
        <div class="basic">
          <table>
            <tr>
              <td colspan="2"><h2>Field Verification Address</h2></td>
            </tr>
            <tr>
              <td><label for="Aadhaar Number">Address Line 01</label></td>
              <td><input type="" placeholder="Thekkumbad,Kovapuram(p.o)"></td>
            </tr>
            <tr>
              <td><label for="dob">Address Line 02</label></td>
              <td><input type="text" placeholder="kannur,kerala"></td>
            </tr>
            <tr>
              <td><label for="dob">City</label></td>
              <td><input type="text" placeholder="Kannur"></td>
            </tr>
            <tr>
              <td><label for="dob">State</label></td>
              <td><input type="text" placeholder="Kerala"></td>
            </tr>
            <tr>
              <td><label for="dob">Pin Code</label></td>
              <td><input type="text" placeholder="670309"></td>
            </tr>
            <tr>
              <td><label for="dob">Landmark</label></td>
              <td><input type="text" placeholder="Veera chamundeshwari Temple"></td>
            </tr>
          </table>
        </div>
        <div class="imgpre">
        </div>
      </div>
    </div>
        <!-- 66666 -->
        <div class="customer-info">
          <div class="prime">
            <div class="basic">
              <table>
                <tr>
                  <td colspan="2"><h2>Field Verification</h2></td>
                </tr>
                <tr>
                  <td><label for="Aadhaar Number">Name of the person being interviewed</label></td>
                  <td><input type="text" placeholder="Suresh"></td>
                </tr>
                <tr>
                  <td><label for="Aadhaar Number">Relation of family member with Applicant</label></td>
                  <td><input type="text" placeholder="Brother"></td>
                </tr>
                <tr>
                  <td><label for="Aadhaar Number">Whether family is aware of the loan being taken by the applicant</label></td>
                  <td><input type="text" placeholder="Yes"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Whether house staying is Owned/Rented</label></td>
                  <td><input type="text" placeholder="Owned"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Check Electricity bill & if paid regularly?</label></td>
                  <td><input type="text" placeholder="Yes"></td>
                </tr>
                <tr>
                  <td><label for="secondname">No.of years applicant staying in the address given</label></td>
                  <td><input type="text" placeholder="5 years"></td>
                </tr>
                <tr>
                  <td><label for="secondname">memebers in the family</label></td>
                  <td><input type="text" placeholder="5"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Dependant Members information</label></td>
                  <td><input type="text" placeholder="2 children"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Any other Earning Member</label></td>
                  <td><input type="text" placeholder="no"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Additional Details about family</label></td>
                  <td><input type="text" placeholder="---"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Purpose of loan</label></td>
                  <td><input type="text" placeholder="Vehicle"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Neighbours name</label></td>
                  <td><input type="text" placeholder="Narayanan"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Flat no. or address staying</label></td>
                  <td><input type="text" placeholder="Thekkumbad, kovapuram(p.o),kunnimangalam"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Cross verify information given by the applicant(no.of years applicant staying)</label></td>
                  <td><input type="text" placeholder="5 years"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Conduct of the applicant & family</label></td>
                  <td><input type="text" placeholder="Very good"></td>
                </tr>
                <tr>
                  <td><label for="secondname">Additional comments by neighbour</label></td>
                  <td><input type="text" placeholder="Thekkumbad, kovapuram(p.o),kunnimangalam"></td>
                </tr>
              </table>
            </div>
            <div class="imgpre">
              <div class="imgbox">
                <img src="./assets/images/income proof.jpg" alt="income tax proof">
              </div>
              <button>Preview <i class="pi pi-eye"></i></button>
            </div>
          </div>
          <div class="second">
            <label for="">Verification of family members identity(take pic and upload) </label>
            <button>Upload<i class="pi pi-upload"></i></button>
            <p>file</p>
            <i class="pi pi-pencil"></i>
            <i class="pi pi-trash"></i>
            <progress max="10" value="10"></progress>
            <p>Uploaded 1 file</p>
            <p>preview</p>
          </div>
          <div class="second">
            <label for="">Upload pic (with geo tag of the house and other necessary docs)</label>
            <button>Upload<i class="pi pi-upload"></i></button>
            <p>file</p>
            <i class="pi pi-pencil"></i>
            <i class="pi pi-trash"></i>
            <progress max="10" value="10"></progress>
            <p>Uploaded 1 file</p>
            <p>preview</p>
          </div>
        </div>
      <!-- 15151515 -->
    <div class="btns">
      <div>
        <button class="sav">Save</button>
        <button class="compt" type="submit" (click)="onClick()">Submit</button>
      </div>
    </div>
  </div>

 </form>


