<div class="body-container">
  <div class="body-ul-navbargrid">
  <div class="body-ul-navbar">
      <nav>
        <ul class="body-ul-navbar-list">
           <li class="body-ul-navbar-list-bluebackground">Customer<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Basic information<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>KYC<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
        </ul>
        <ul class="body-ul-navbar-list-gray">
           <li><div><i class="pi pi-angle-right"></i>Aadhaar Card </div><div class="div1"><i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></div></li>
           <li><div><i class="pi pi-angle-right"></i>PAN Card</div><div class="div1"><i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></div></li>
        </ul>
        <ul class="body-ul-navbar-list">
          <li>Addess Proof<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
          <li>Membership<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
          <li>Income Proof<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
          <li>Employment<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
          <li>Bank<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
          <li>Existing Loan<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
          <li>property<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
          <li>Approval & print<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
        </ul>
        <ul class="body-ul-navbar-list-gray">
          <li><div><i class="pi pi-angle-right"></i>Verification Report</div><div class="div1"><i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></div></li>
          <li><div><i class="pi pi-angle-right"></i>Credit Report</div><div class="div1"><i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></div></li>
          <li><div><i class="pi pi-angle-right"></i>Sanction Letter& TC</div><div class="div1"><i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></div></li>
          <li><div><i class="pi pi-angle-right"></i>Property Valuation report</div><div class="div1"><i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></div></li>
          <li><div><i class="pi pi-angle-right"></i>Loan Agreement</div><div class="div1"><i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></div></li>
        </ul>
        <ul class="body-ul-navbar-list">
           <li>Customer Interaction<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Field Verification<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Appraisal and Validation<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Credit Underwriting<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Credit Sanction<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Loan document Execution<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Loan Document Validation & Singn off<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Credit Disbursement<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li>Credit Disbursement Authorisation</li>
           <li>History</li>
           <li class="listy">Guarantor 01<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
           <li class="listy">Guarantor 02<i class="pi pi-check"></i><div class="ictop"><i class="pi pi-check"></i></div></li>
       </ul>
    </nav>
    </div>
  </div>
  <div class="body-horizontal-navbar">
    <nav><ul>
      <li>Home <i class="pi pi-angle-right"></i></li>
      <li>Saved Views <i class="pi pi-angle-right"></i></li>
      <li>View/Edit <i class="pi pi-angle-right"></i></li>
      <li><a routerLinkActive="active" routerLink="firstqty"></a></li>
      <li><a routerLinkActive="active" routerLink="secondqty"></a></li>
      <li><a routerLinkActive="active" routerLink="finalqty"></a></li>
      <li><a routerLinkActive="active" routerLink="custint"></a></li>
      <li><a routerLinkActive="active" routerLink="verpro"></a></li>
      <li><a routerLinkActive="active" routerLink="valdsgn"></a></li>
      <li><a routerLinkActive="active" routerLink="cuw"></a></li>
      <li><a routerLinkActive="active" routerLink="csan"></a></li>
      <li><a routerLinkActive="active" routerLink="loanexe"></a></li>
      <li><a routerLinkActive="active" routerLink="loanvalid"></a></li>
      <li><a routerLinkActive="active" routerLink="cdis"></a></li>
      <li><a routerLinkActive="active" routerLink="cdauth"></a></li>
      <!-- <li><a routerLinkActive="active" routerLink="firstqty">first quality check</a></li>
      <li><a routerLinkActive="active" routerLink="secondqty">second quality check</a></li>
      <li><a routerLinkActive="active" routerLink="finalqty">final quality check</a></li>
      <li><a routerLinkActive="active" routerLink="custint">Customer Interaction</a></li>
      <li><a routerLinkActive="active" routerLink="verpro">verification-process</a></li>
      <li><a routerLinkActive="active" routerLink="valdsgn">Validation Signoff</a></li>
      <li><a routerLinkActive="active" routerLink="cuw">Credit Under Writing</a></li>
      <li><a routerLinkActive="active" routerLink="csan"> Credit Sanction</a></li>
      <li><a routerLinkActive="active" routerLink="loanexe">Loan Document Execution</a></li>
      <li><a routerLinkActive="active" routerLink="loanvalid">Loan Document Validation & Signoff</a></li>
      <li><a routerLinkActive="active" routerLink="cdis">Credit Disbursement</a></li>
      <li><a routerLinkActive="active" routerLink="cdauth"> Credit Disbursement Authorisation</a></li> -->
    </ul></nav>
    <router-outlet></router-outlet>
  </div>
</div>


