<div class="body-container">
  <!-- <div class="body-ul-navbargrid"> -->
  <div class="body-ul-navbar">
      <nav>
        <ul class="body-ul-navbar-list">
           <li class="body-ul-navbar-list-bluebackground"><p>Customer</p><div></div><div></div>
               <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16.443" height="10.14" viewBox="0 0 16.443 10.14">
                  <g id="keyboard-left-arrow-button" transform="translate(-262.557 -90.65) rotate(90)">
                    <g id="chevron-left" transform="translate(90.65 1)">
                      <path id="Path_280" data-name="Path 280" d="M68.79,1.918,66.872,0,58.65,8.222l8.222,8.222,1.918-1.918-6.3-6.3Z" transform="translate(-58.65 -280)" fill="#181a90"/>
                    </g>
                  </g>
                </svg>
               </div></li>
           <li><p>Basic information </p><div></div><div></div><div></div></li>
           <li><p>KYC </p><div></div><div></div><div></div></li>
        </ul>
        <ul class="body-ul-navbar-list-gray">
           <li><div></div><p>Aadhaar Card</p><div></div><div></div><div></div></li>
           <li><div></div><p>PAN Card</p><div></div><div></div><div></div></li>
        </ul>
        <ul class="body-ul-navbar-list">
          <li><p>Addess Proof</p><div></div><div></div><div></div></li>
          <li><p>Membership</p><div></div><div></div><div></div></li>
          <li><p>Income Proof</p><div></div><div></div><div></div></li>
          <li><p>Employment</p><div></div><div></div><div></div></li>
          <li><p>Bank</p><div></div><div></div><div></div></li>
          <li><p>Existing Loan</p><div></div><div></div><div></div></li>
          <li><p>property</p><div></div><div></div><div></div></li>
          <li><p>Approval & print</p><div></div><div></div><div></div></li>
        </ul>
        <ul class="body-ul-navbar-list-gray">
          <li><div></div><p>Verification Report</p><div></div><div></div><div></div></li>
          <li><div></div><p>Credit Report</p><div></div><div></div><div></div></li>
          <li><div></div><p>Sanction Letter& TC</p><div></div><div></div><div></div></li>
          <li><div></div><p>Property Valuation report</p><div></div><div></div><div></div></li>
          <li><div></div><p>Loan Agreement</p><div></div><div></div><div></div></li>
        </ul>
        <ul class="body-ul-navbar-list">
           <li><p>Customer Interaction</p><div></div><div></div><div></div></li>
           <li><p>Field Verification</p><div></div><div></div><div></div></li>
           <li><p>Appraisal and Validation</p><div></div><div></div><div></div></li>
           <li><p>Credit Underwriting</p><div></div><div></div><div></div></li>
           <li><p>Credit Sanction</p><div></div><div></div><div></div></li>
           <li><p>Loan document Execution</p><div></div><div></div><div></div></li>
           <li><p>Loan Document Validation & Singn off</p><div></div><div></div><div></div></li>
           <li><p>Credit Disbursement</p><div></div><div></div><div></div></li>
           <li><p>Credit Disbursement Authorisation</p><div></div><div></div><div></div></li>
           <li><p>History</p><div></div><div></div><div></div></li>
           <li class="listy"><p>Guarantor 01</p><div></div><div></div>
                 <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16.443" height="10.14" viewBox="0 0 16.443 10.14">
                    <path id="Path_278" data-name="Path 278" d="M10.14,1.918,8.222,0,0,8.222l8.222,8.222,1.918-1.918-6.3-6.3Z" transform="translate(0 10.14) rotate(-90)" fill="#1d1a8e"/>
                  </svg>

                 </div></li>
           <li class="listy"><p>Guarantor 02</p><div></div><div></div>
                   <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.443" height="10.14" viewBox="0 0 16.443 10.14">
                      <path id="Path_278" data-name="Path 278" d="M10.14,1.918,8.222,0,0,8.222l8.222,8.222,1.918-1.918-6.3-6.3Z" transform="translate(0 10.14) rotate(-90)" fill="#1d1a8e"/>
                    </svg>

                  </div></li>
       </ul>
    </nav>
    </div>
  <!-- </div> -->
  <div class="body-horizontal-navbar">
    <nav><ul>
      <li>Home <i class="pi pi-angle-right"></i></li>
      <li>Saved Views <i class="pi pi-angle-right"></i></li>
      <li>View/Edit <i class="pi pi-angle-right"></i></li>
      <li><a routerLinkActive="active" routerLink="firstqty"></a></li>
      <li><a routerLinkActive="active" routerLink="secondqty"></a></li>
      <li><a routerLinkActive="active" routerLink="finalqty"></a></li>
      <li><a routerLinkActive="active" routerLink="custint"></a></li>
      <li><a routerLinkActive="active" routerLink="verpro"></a></li>
      <li><a routerLinkActive="active" routerLink="valdsgn"></a></li>
      <li><a routerLinkActive="active" routerLink="cuw"></a></li>
      <li><a routerLinkActive="active" routerLink="csan"></a></li>
      <li><a routerLinkActive="active" routerLink="loanexe"></a></li>
      <li><a routerLinkActive="active" routerLink="loanvalid"></a></li>
      <li><a routerLinkActive="active" routerLink="cdis"></a></li>
      <li><a routerLinkActive="active" routerLink="cdauth"></a></li>
      <!-- <li><a routerLinkActive="active" routerLink="firstqty">first quality check</a></li>
      <li><a routerLinkActive="active" routerLink="secondqty">second quality check</a></li>
      <li><a routerLinkActive="active" routerLink="finalqty">final quality check</a></li>
      <li><a routerLinkActive="active" routerLink="custint">Customer Interaction</a></li>
      <li><a routerLinkActive="active" routerLink="verpro">verification-process</a></li>
      <li><a routerLinkActive="active" routerLink="valdsgn">Validation Signoff</a></li>
      <li><a routerLinkActive="active" routerLink="cuw">Credit Under Writing</a></li>
      <li><a routerLinkActive="active" routerLink="csan"> Credit Sanction</a></li>
      <li><a routerLinkActive="active" routerLink="loanexe">Loan Document Execution</a></li>
      <li><a routerLinkActive="active" routerLink="loanvalid">Loan Document Validation & Signoff</a></li>
      <li><a routerLinkActive="active" routerLink="cdis">Credit Disbursement</a></li>
      <li><a routerLinkActive="active" routerLink="cdauth"> Credit Disbursement Authorisation</a></li> -->
    </ul></nav>
    <router-outlet></router-outlet>
  </div>
</div>


