@import "src/styles.scss";
.body-container{
  display: grid;
  grid-template-columns: minmax(auto, 353px) minmax(auto, 1361px);
  box-sizing: border-box;
  .body-ul-navbar{
    nav{
     max-height:690px;
      overflow: scroll;
    }
    .body-ul-navbar-list{
      @include sizezero;
      list-style-type: none;
      li{
        color: $color-03;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        height: 66px;
        font-family: Poppins;
        font-size: 16px;
         font-weight: normal;
        p{
          padding: 0;
          padding-left: 35px;
          margin: 0;
          width: 78%;
        }
        div{
          width: 7%;
        }
      }
      .body-ul-navbar-list-bluebackground{
        color: $color-01;
        background-color: $color-10;
        border-left: 3px solid $red;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
      }
      .listy{
        background-color: $color-10;
        color: $color-01;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .body-ul-navbar-list-gray{
      @include sizezero;
      list-style-type: none;
      li{
        color: $color-05;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
          height: 66px;
          cursor: pointer;
          font-family: Poppins;
        font-size: 16px;
         font-weight: normal;
        .slider{
          width: 14%;
          padding-left: 35px;
          svg{
            width: 7.7px;
             height: 12.5px;
          }
        }
        p{
          padding: 0;
          padding-left: 35px;
          margin: 0;
          width: 65%;
          // border: 1px solid black;
        }
        div{
          width: 7%;
          // border: 1px solid black;
        }
      }
    }
      nav::-webkit-scrollbar {
        display: none;
      }
  }

  .body-horizontal-navbar{
    background-color: gold;
    box-sizing: border-box;
    padding-left: 44px;
    padding-bottom: 20px;
    nav{
      ul{
        padding: 0;
      margin: 0;
      margin-top: 31px;
      margin-bottom: 25px;
       list-style-type: none;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 300;
      color: $color-05;
       li{
        display: inline;
        cursor: pointer;
        margin: 5px;
        }
      }
    }
    .blu-bx-ctnr{
      max-width: 1263px;
      height: 208px;
      display: flex;
      flex-direction: column;
      background-color: $skyblue;
        border-radius: 25px;
        border-bottom: 1px solid $lightgray;

      .customer-brief-bluebox{
        box-sizing: border-box;
        display: flex;
        align-items: center;
       flex-direction: row;
        @include displays;
        width: 100%;
        height: 120px;
        .customer-brief-whitebox{
          width: 400px;
          height: 89px;
          border-radius: 50px;
          margin-bottom: 5px;
          img{
            width: 98px;
            height: 98px;
            border-radius: 50%;
            position: relative;
            top:3px;
            z-index: 1;
            }
          .customer-brief-whitebox-items{
            background-color: $white;
            width:100%;
            height:100%;
            border-radius: 50px;
            font-size: $smallfont;
            font-weight: $mediumfont;
            position: relative;
            left: 0px;
            top:-97px;
            z-index: 0;
            border-bottom: 1px solid $lightgray;
            h3{
              margin: 0px;
              padding: 10px 10px 0px 0px;
               margin-left: 100px;
                font-size: 20px;
                font-weight: 600;
                color: $color-01;
            }
            p{
              margin: 0px;
              padding-top:0px;
              font-family: Poppins;
              font-size: 16px;
              font-weight: 300;
               margin-left: 100px;
               color: $color-05 ;
            }
            a{
              font-family: Poppins;
               font-size: 14px;
               font-weight: normal;
              margin-right: 30px;
              padding: 0px;
              float: right;
              text-decoration: none;
              color: $color-07;
            }
          }
        }
        .customer-brief-table-container-box{
          margin-top: 0px;
          width: 63%;
          height: 100%;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 300;
          color: $color-05;
          display: flex;
          table{
            width: 100%;
              .one{
                padding: 0;
                width: 30%;
                table{
                  border-right: 2px solid $color-06 ;
                }
                .firstcol{
                  padding-left: 5px;
                  font-family: Poppins;
                  font-size: 18px;
                  font-weight: 500;
                  color: $color-03;
                  width: 40%;
                }
                .secondcol{
                  padding-left: 5px;
                  width:60%;
                }
              }
              .two{
                padding: 0;
                width: 25%;
                table{
                  border-right: 2px solid $color-06 ;
                }
                .firstcol{
                  padding-left: 5px;
                  font-family: Poppins;
                  font-size: 18px;
                  font-weight: 500;
                  color: $color-03;
                  width: 30%;
                }
                .secondcol{
                  padding-left: 20px;
                  width:70%;
                }
              }
              .three{
                padding: 0;
                width: 45%;
                .firstcol{
                  padding: 0;
                  padding-left: 5px;
                  font-family: Poppins;
                  font-size: 18px;
                  font-weight: 500;
                  color: $color-03;
                  width: 28%;
                }
                .secondcol{
                  width:72%;
                }
              }
                .highlight1{
                  color: red;
                }
                .highlight2{
                  color: blue;
                }

          }

        }
      }
      .plist{
        width: 100%;
        height: 38px;
        display: flex;
        flex-direction: row;
        p{
          width: 17%;
          @include sizezero;
          padding-left: 50px;
          font-family: Poppins;
          font-size: 14px;
          font-weight: normal;
          margin-top: 15px;
          color: $color-05;
        }
        .pl{
          padding-left:50px;
          font-family: Poppins;
          font-size: 14px;
          font-weight: normal;
          color: $color-05;
        }
      }
      .progressing{
        @include sizezero;
        width: 100%;
        height: 22px;
        ul{
          @include sizezero;
          padding-left: 50px;
          width: 100%;

          text-align: center;
          li{
            width: 104px;
            display: inline-block;
            position: relative;
            z-index: 1;
          }

          li::after{
            content: '';
            background-color: $lightgray;
            height: 3.5px;
            position: absolute;
            left: -43px;
            width: 85px;
            top: 10px;
            z-index: -1;
          }
          li:nth-child(1n)::after{
            margin-right: 7px;
              background-color: $green;
          }
          li:nth-child(1n+11)::after{
              left: -43px;
              width: 85px;
              background-color: red;
          }
        }
      }
      .plist1{
        margin-left: 120px;
        width: 100%;
        height: 22px;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        p{
          width: 17%;
          @include sizezero;
          padding-left: 20px;
          font-family: Poppins;
          font-size: 14px;
          font-weight: normal;
          color: $color-05;
        }
        .p1{
          padding-left: 55px;
        }
      }
    }
  }
}
