@import "src/styles.scss";
.container{
  // min-width:1000px;
  // box-sizing: border-box;
  margin:  41.5px 53.8px 56.2px 54px;
  // padding: 0;
  // background-color: $white;
  // // min-height: 690px;
  // border-top-right-radius: 30px;
  // border-top-left-radius: 30px;
  // // border-radius: 30px;
  // box-shadow: 1px 0.9px 80px $lightgray;
  font-family: $fontfamily;
  // font-size: $smallfont;
  // font-weight: $mediumfont;
  // nnnnnnnnnnnnn
  max-width: 1811.8px;
  max-height: 815.3px;
  // margin: 0 0.5px 0 0;
  // padding: 15px 54px 1px 0;
  padding: 0px;
  padding-top: 15px;
  border-radius: 50px;
  box-shadow: 0 0 99px 0 #eae8f3;
  // box-shadow: 0 0 99px 0 #c8c8d0;
  background-color: #ffffff;
}
.footer{
  width: 1811.8px;
  background-color: $white;
  height: 20px;
}
