<div class="container">
  <!-- class boxbrief for customer details in brief template-->
  <div class="blu-bx-ctnr">
    <div class="customer-brief-bluebox">
      <div class="customer-brief-whitebox">
        <!-- <img src="./assets/images1.jfif" alt="varghese" > -->
        <img src="./assets/images/profile.jpg" alt="varghese" >
        <div class="customer-brief-whitebox-items">
          <h3 class="customer-brief-whitebox-item1">A Laxmi Narasimha Bai</h3>
          <p class="customer-brief-whitebox-item2">Female/42yrs</p>
          <a href="#" class="customer-brief-whitebox-item3">more info +</a>
        </div>
      </div>
      <div class="customer-brief-table-container-box">
        <div class="customer-brief-table-container">
          <table class="customer-brief-table">
            <tr>
              <td class="customer-brief-table-firstcol">Type</td>
              <td>Vehicle Loan</td>
            </tr>
            <tr>
              <td class="customer-brief-table-firstcol">Appl.No</td>
              <td>VL-001201</td>
            </tr>
          </table>
        </div>
        <div class="customer-brief-table-container2">
          <table class="customer-brief-table">
            <tr>
              <td class="customer-brief-table-firstcol">Amount</td>
              <td>50000</td>
            </tr>
            <tr>
              <td class="customer-brief-table-firstcol">Priority</td>
              <td class="highlight1">High</td>
            </tr>
          </table>
        </div>
        <div class="customer-brief-table-container1">
          <table>
            <tr>
              <td class="customer-brief-table-firstcol">status</td>
              <td class="secondcol highlight2">New</td>
            </tr>
            <tr>
              <td class="customer-brief-table-firstcol">Stage</td>
              <td class="secondcol1">Credit Disbursement Approver</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="plist">
      <p>Document Collection</p>
      <p>Customer Interaction</p>
      <p>validation & Signoff</p>
      <p>Credit sanction</p>
      <p>Signature& Signoff</p>
      <p class="pl">Credit Disbursement Approver</p>
    </div>
    <div class="progressing">
      <ul>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-clock"></i>
        </li>
      </ul>
    </div>
    <div class="plist1">
      <p>quality check</p>
      <p>Verification Process</p>
      <p>Credit underwriting check</p>
      <p>Loan documentExecution</p>
      <p>Credit Disbursement</p>
      <!-- <p class="pl">Credit Disbursement Approver</p> -->
    </div>
  </div>

  <!-- class customer-details-boxes1 for the details template-->
  <div class="customer-details-boxes-container">
    <h2>Loan Document validation & Sign off</h2>
    <!-- basic information temp -->
    <div id="Basic Information" class="customer-details-boxes">
      <h3>Basic Information</h3>
      <div class="customer-details-box">
        <table class="customer-details-box-table">
          <tr>
            <td class="customer-details-box-table-firstcol">Applicant Name</td>
            <td class="customer-details-box-table-valuecol">A Laxmi Narasimha</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Mobile Number</td>
            <td class="customer-details-box-table-valuecol">+919747123456</td>
          </tr>
        </table>
        <div class="customer-details-box-image2"></div>
      </div>
    </div>
    <!-- Aadhaar card temp -->
    <div id="Aadhaar Card" class="customer-details-boxes">
      <h3>Aadhaar Card</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar Number<span>*</span></td>
          <td colspan="2"><input type="text"></td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">DOB on Aadhaar</td>
          <td class="customer-details-box-table-valuecol">20/04/1979</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Age</td>
          <td class="customer-details-box-table-valuecol">42yrs</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar upload 01</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar upload 02</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
        <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    </div>

    <!-- Disbursal temp -->
    <div id="Verification Check Report" class="customer-details-boxes">
      <h3>Disbursal Details(As per security cheque scanned) </h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Name of Account Holder</td>
          <td colspan="2">A Laxmi Narasimha bai</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">A/C number</td>
          <td colspan="2">20456783</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">IFSC code</td>
          <td colspan="2">BOBVJTELO</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Bank Name & Branch</td>
          <td colspan="2">Bank of Baroda</td>
        </tr>
      </table>
      <div class="customer-details-box-image"></div>
    </div>
    </div>
    <!-- emi -->
    <div id="Verification Check Report" class="customer-details-boxes">
      <h3>EMI Tenor </h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Emi Schedule date</td>
          <td colspan="2">----</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Insurance premium</td>
          <td colspan="2">----</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Receipt no.</td>
          <td colspan="2">----</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Premium receipt date</td>
          <td colspan="2">----</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">BRF Amount</td>
          <td colspan="2">----</td>
        </tr><tr>
          <td class="customer-details-box-table-firstcol">Declaration of good health / Medical test date</td>
          <td colspan="2">----</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Full name of Nominee</td>
          <td colspan="2">----</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Nominee relation with account Holder</td>
          <td colspan="2">----</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Nominee Contact No.</td>
          <td colspan="2">----</td>
        </tr>
      </table>
      <div class="customer-details-box-image"></div>
    </div>
    </div>
    <!-- Branch appraisal temp -->
    <div id="Branch appraisal" class="customer-details-boxes">
      <h3>Upload Documents</h3>

        <table class="branch-appraisal-table">
        <tr>
          <td class="customer-details-box-table-firstcol">Loan application Form (with Photograph affixed)</td>

          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Sanction letter of customer</td>

          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Loan agreement (on e-stamp paper)</td>

          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">DPN(with revenue stamp)</td>

          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Guarantor Declaration Forms(with Photographs)</td>

          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Form "k"</td>

          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">NEFT/RTGS Form (as per disbursement details filled)</td>

          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Medical Test Upload</td>

          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Any incomplete document submitted(As per sanction condition)</td>
          <td class="customer-details-box-table-valuecol">no</td>
          <td colspan="5" rowspan="4">
            <div class="customer-details-box-image1">
              <img src="" alt="">
                  <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">E-stamp date</td>
          <td class="customer-details-box-table-valuecol">----</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">E-stamp Amount</td>
          <td class="customer-details-box-table-valuecol">-----</td>
        </tr>
      </table>
    </div>
     <!-- sign -->
     <div id="Verification Check Report" class="customer-details-boxes">
      <h3>sign off </h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Verify & Validate documents executed by all parties</td>
          <td colspan="2"><input type="text" placeholder="yes"></td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Branch Manager Sign off on all documents</td>
          <td colspan="2"><input type="text" placeholder="yes"></td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Branch Manager comments</td>
          <td colspan="2"><input type="text" placeholder="----"></td>
        </tr>
      </table>
      <div class="customer-details-box-image"></div>
    </div>
    </div>
          <!-- print -->
          <div id="Branch appraisal" class="customer-details-boxes">
            <h3>Print</h3>

              <table class="branch-appraisal-table">
              <tr>
                <td class="customer-details-box-table-firstcol">Loan application Form (with photograph affixed)</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>

              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Sanction letter of customer</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>

              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Loan agreement(on e-stamp paper)</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">DPN(with revenue stamp)</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Guarantor Declaration Forms(with Photographs)</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Form "k"</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">NEFT / RTGS Forms</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Verification Report</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Credit Report</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Sanction Letter and T&c</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Property Valuation Report</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">Loan Agreement</td>
                <td class="customer-details-box-table-previewcol">preview</td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button type="submit" class="button-submit">print</button></td>
                <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
                <td><i class="pi pi-trash"></i></td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol"></td>
                <td class="customer-details-box-table-valuecol"></td>
                <td colspan="5" rowspan="4">
                  <div class="customer-details-box-image1">
                    <img src="" alt="">
                        <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
                  </div>
                </td>
              </tr>

            </table>
          </div>
    <!-- upload -->
    <div id="Branch appraisal" class="customer-details-boxes">
      <h3>Upload</h3>

        <table class="branch-appraisal-table">
        <tr>
          <td class="customer-details-box-table-firstcol">Security Cheques of Borrower/Guarantor&2</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Insurance Application</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol"></td>
          <td class="customer-details-box-table-valuecol"></td>
          <td colspan="5" rowspan="4">
            <div class="customer-details-box-image1">
              <img src="" alt="">
                  <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
            </div>
          </td>
        </tr>

      </table>
    </div>

    <div >
      <button type="submit" class="button-submit" (click)="onClick()">Submit</button>
    </div>
  </div>

</div>





