<div class="container">
<div class="sidebar">
  <ul class="sidebarul">
    <li><i class="pi pi-home icons"></i>Home</li>
    <li><i class="pi pi-wallet"></i>New Loan Request</li>
    <li><i class="pi pi-slack"></i>My Crew Queue</li>
    <li><i class="pi pi-chart-line"></i>Reports</li>
    <li><i class="pi pi-cog"></i>Settings</li>
    <li><i class="pi pi-microsoft"></i>Dashboard</li>
  </ul>
</div>
<div class="maincontent">
  <div class="status">
    <div class="open">
      <div class="openc"><h2>open<span>(Current)</span></h2></div>
      <div class="openr">
        <div class="openr1">
        <div class="round1"></div>
        <div class="round2">
          <h6>You</h6>
          <h2>22</h2>
        </div>
      </div>
        <div class="openr1">
          <div class="round1"></div>
        <div class="round2">
          <h6>All</h6>
          <h2>185</h2>
        </div>
      </div>
        </div>

    </div>
    <div class="Statistics">
      <div class="Statisticst"><h2>Statistics<span>(This Week)</span></h2></div>
      <div class="Statisticsr">
        <div class="Statistics1">
          <div class="round4"></div>
        <div class="round3">
          <h6>On Track</h6>
          <h2>20</h2>
          <progress max="10" value="5"></progress>
        </div>
      </div>
        <div class="Statistics1">
          <div class="round6"></div>
        <div class="round5">
          <h6>Delayed</h6>
          <h2>2</h2>
          <progress max="10" value="5"></progress>
        </div>
      </div>
        <div class="Statistics1">
          <div class="round8"></div>
        <div class="round7">
          <h6>Completed</h6>
          <h2>50</h2>
          <progress max="10" value="5"></progress>
        </div>
        </div>

      </div>
      </div>

  </div>
  <div class="assigned">
    <h1>Assigned to me</h1>
    <div class="rounda">3</div>
    <h5>Results</h5>
    <i class="pi pi-search"></i>
    <input type="search" placeholder="Search">
    <i class="pi pi-filter"></i>
    <button class="btn1">Saved Views</button>
    <button class="btn">Create</button>
    <button class="btn">Export</button>
  </div>
  <div class="customerlist">
    <table>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Asignees</th>
        <th>Task Completed</th>
        <th>Status</th>
        <th>Tracking</th>
      </tr>
      <tr>
        <td colspan="6">
          <div class="customer-bluebox">
            <div class="customer-bluebox1">
              <table>
                <tr>
                  <td>A Laxmi Bai</td>
                  <td>Vehicle Loan</td>
                </tr>
                <tr>
                  <td>50000.00</td>
                  <td>VL-001254</td>
                </tr>
              </table>
            </div>
            <div class="customer-bluebox2">
              <div>JD</div>
              <progress max="10" value="8"></progress>
              <h5>Referback</h5>
              <button>On track</button>
              <button>View/Edit</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div>
</div>
