<div class="container">
<div class="sidebar">
  <a href=""><i class="pi pi-check"></i>hi</a>
  <ul>
    <li><i class="pi pi-home icons"></i>Home</li>
    <li><i class="pi pi-wallet"></i>New Loan Request</li>
    <li>My Crew Queue</li>
    <li>Reports</li>
    <li>Settings</li>
    <li>Dashboard</li>
  </ul>
</div>
<div class="maincontent">
  <div>
    <div class="open">
      <h2>open<span>(Current)</span></h2>
      <div>
        <div>
          <h6>You</h6>
          <h2>22</h2>
        </div>
        <div>
          <h6>All</h6>
          <h2>185</h2>
        </div>
      </div>
    </div>
    <div class="Statistics">
      <h2>Statistics<span>(This Week)</span></h2>
      <div>
        <h6>On Track</h6>
        <h2>20</h2>
        <progress max="10" value="10"></progress>
      </div>
      <div>
        <h6>Delayed</h6>
        <h2>2</h2>
        <progress max="10" value="10"></progress>
      </div>
      <div>
        <h6>Completed</h6>
        <h2>50</h2>
        <progress max="10" value="10"></progress>
      </div>
    </div>
  </div>
</div>
</div>
