@import "src/styles.scss";
  button:hover{
    cursor: pointer;
  }
  .maincontent{
    margin-top: 15px;
    margin-left: 25px;
    // background-color: darkseagreen;
    width: 96.5%;
    .status{
      width: 100%;
      height: 200px;
      display: flex;
      // background-color: burlywood;
      h2,h5{
        color: $darkblue;
        @include sizezero;
      }
      span{
        color: $gray;
        font-weight: $mediumfont ;
        font-size: $mediumsize;
      }
      .open{
        width: 25%;
        // background-color: coral;
        margin-right: 7%;
        .openc{
          width: 100%;
          height:23%;
          margin-left: 7px;
        }
      .openr{
        width: 99%;
        height: 75%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        .openr1{
          width: 50%;
        }
      }
      }
      .Statistics{
        width: 38%;
        // background-color: chartreuse;
        .Statisticst{
          width: 100%;
          height:23%;
          margin-left: 10px;
        }
        .Statisticsr{
          width: 99%;
          height: 75%;
          display: flex;
        flex-direction: row;
        justify-content:space-around;

        }
        .Statistics1{
          width: 33%;
          // border: 1px solid black;
        }
      }
      .round1{
        margin-left: 20px;
         background-color: rgb(250, 252, 255);
         border-right: 3px solid rgb(212, 216, 230);
         width: 110px;
         height: 110px;
         border-radius: 50%;
      }
      .round2{
        h5{
          color: $gray;
        }
        text-align: center;
        padding-top: 25px;
        position: relative;
        z-index: 1;
        top: -107px;
        left:20px;
        background-color: rgb(245, 247, 253);
         border-left: 3px solid rgb(212, 216, 230);
        width: 105px;
        height: 105px;
         border-radius: 50%;
      }
      .round3{
        text-align: center;
        padding-top: 20px;
        position: relative;
        z-index: 1;
        top: -107px;
        left:20px;
        width: 105px;
        height: 105px;
         border-radius: 50%;
        background-color: rgb(216, 237, 255);
        border-left: 3px solid rgb(97, 177, 251);
        h2,h5{
          color: rgb(97, 177, 251);
         }
        progress{
           -webkit-appearance: none;
            width: 70px;
            height:3px;
            overflow: hidden;
            &::-webkit-progress-bar{
              background:rgb(177, 210, 240) ;
              border-radius: 25px;
            }
            &::-webkit-progress-value{
              background: rgb(97, 177, 251);
              border-radius: 25px;
            }
           }
      }
      .round4{
        margin-left: 20px;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: rgb(243, 250, 255);
        border-right: 3px solid rgb(97, 177, 251);
      }
      .round5{
        text-align: center;
        padding-top: 20px;
        position: relative;
        z-index: 1;
        top: -107px;
        left:20px;
        width: 105px;
        height: 105px;
         border-radius: 50%;
        background-color: rgb(255, 191, 191);
        border-left: 3px solid rgb(251, 61, 61);
        h2,h5{
          color: rgb(251, 61, 61);
        }
        progress{
          -webkit-appearance: none;
           width: 70px;
           height:3px;
           overflow: hidden;
           &::-webkit-progress-bar{
             background:rgb(240, 151, 151) ;
             border-radius: 25px;
           }
           &::-webkit-progress-value{
             background: rgb(251, 61, 61);
             border-radius: 25px;
           }
          }
      }
      .round6{
        margin-left: 20px;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: rgb(255, 235, 235);
        border-right: 3px solid rgb(251, 61, 61);
      }
      .round7{
        text-align: center;
        padding-top: 20px;
        position: relative;
        z-index: 1;
        top: -107px;
        left:20px;
        width: 105px;
        height: 105px;
         border-radius: 50%;
        background-color: rgb(188, 250, 188);
        border-left: 3px solid rgb(30, 187, 30);
        h2,h5{
         color: rgb(30, 187, 30);
        }
        progress{
          -webkit-appearance: none;
           width: 70px;
           height:3px;
           overflow: hidden;
           &::-webkit-progress-bar{
             background:rgb(128, 221, 128) ;
             border-radius: 25px;
           }
           &::-webkit-progress-value{
             background: rgb(30, 187, 30);
             border-radius: 25px;
           }
          }

      }
      .round8{
        margin-left: 20px;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: rgb(230, 250, 230);
        border-right: 3px solid rgb(30, 187, 30);
      }

    }
     .assigned{
       padding-left: 5px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items:center;
       height: 50px;
       width:100% ;
       h1,h4{
        @include sizezero;
        color:$darkblue;
       padding-top: 10px;
      }
       .bundle{
         display: flex;
         align-items: center;
         margin-top: 9px;
         h4{
          margin-top: -1px;
           margin-left: 5px;
           color: $gray;
         }
         i{
           margin-right: 5px;
           font-size: large;
         }
       }
       .bundles{
        display: flex;
        align-items: center;
        i{
          margin-top: 7px;
          margin-right: 6px;
          font-size: large;
        }
      }
       .rounda{
         width: 20px;
         height: 20px;
         border-radius: 50%;
         background-color: rgb(252, 102, 43);
         color: $white;
         text-align: center;
       }
       input{
        outline: none;
        width: 270px;
        height: 35px;
        border: none;
        border-bottom:1px solid $blue;
       }
       .btng{
         width:45%;
         display: flex;
         justify-content: space-evenly;
         position:relative;
         z-index: 0;
       }
       .btnf{
        color:$darkblue;
       font-size: $mediumsize;
       width: 40px;
      height: 35px;
      border-radius: 10px;
      border: 1px solid $gray;
      background-color: $white;
      outline: none;
     }
     .visbl{
       visibility: visible;
     }
     .hides{
      visibility: hidden;
     }

     .filter{
      //  left: 900px;
      //  top: 345px;
        left:-665px;
       top: 45px;
       position:absolute;
       z-index: 2;
       width: 1100px;
       height: 330px;
       border-radius: 18px;
       background-color: white;
       box-shadow: 3px 0.5px 40px $lightgray;
       padding: 25px;
       .fbox{
         display: flex;
         flex-direction: row;
         margin-top: 6px;
         margin-bottom: 4px;
         width: 100%;
         height: 70px;
        //  border: 1px solid black;
         label{
           width: 20%;
           font-size:15px ;
           font-weight: $thickfont;
           color: $gray;
         }
         .fbox1{
           display: flex;
           align-items: center;
          width: 38%;
          // height: 70px;
          // border: 1px solid black;
          input{
            padding-left: 15px;
           font-size: 14px;
           font-weight: $thickfont;
           width: 75%;
           height: 45px;
           border-radius: 25px;
           border: 1px solid $lightgray ;
           outline: none;
          }
         }

        .fbox2{
          display: flex;
          align-items: center;
          width: 28%;
          // border: 1px solid black;
          label{
            width: 30%;
            font-size:15px ;
            font-weight: $thickfont;
            color: $gray;
          }
          select{
            width: 60%;
            height: 45px;
            padding: 10px 30px 10px 30px;
            border-radius: 25px;
            font-weight: $thickestfont ;
            outline: none;
            border: 1px solid $lightgray;
          }
         }
         .fbox3{
          display: flex;
          align-items: center;
          width: 34%;
          // border: 1px solid black;
          label{
            width: 34%;
            font-size:15px ;
            font-weight: $thickfont;
            color: $gray;
          }
          select{
            width: 62%;
            height: 45px;
            padding: 10px 30px 10px 30px;
            border-radius: 25px;
            font-weight: $thickestfont ;
            outline: none;
            border: 1px solid $lightgray;
          }
         }
         .fbox4{
          display: flex;
          align-items: center;
          width: 29%;
          // border: 1px solid black;
          label{
            width: 50%;
            font-size:15px ;
            font-weight: $thickfont;
            color: $gray;
          }
          select{
            width: 40%;
            height: 45px;
            padding: 10px 30px 10px 30px;
            border-radius: 25px;
            font-weight: $thickestfont ;
            outline: none;
            border: 1px solid $lightgray;
          }
         }
         .fbox5{
          display: flex;
          align-items: center;
          width: 33%;
          // border: 1px solid black;
          label{
            width: 30%;
            font-size:15px ;
            font-weight: $thickfont;
            color: $gray;
          }
          select{
            width: 65%;
            height: 45px;
            padding: 10px 30px 10px 30px;
            border-radius: 25px;
            font-weight: $thickestfont ;
            outline: none;
            border: 1px solid $lightgray;
          }
         }
         .fbox6{
          display: flex;
          align-items: center;
          width: 33%;
          // border: 1px solid black;
          label{
            width: 23%;
            font-size:15px ;
            font-weight: $thickfont;
            color: $gray;
          }
          select{
            width: 38%;
            height: 45px;
            padding: 10px 30px 10px 30px;
            border-radius: 25px;
            font-weight: $thickestfont ;
            outline: none;
            border: 1px solid $lightgray;
          }
         }
         .marg{
           margin-left: 55px;
         }
       }
           .searchg{
             margin-top: 15px;
             display: flex;
             align-items: center;
            //  background-color: burlywood;
             .bundls{
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              h4{
               margin-bottom: 6px;
                margin-left: 5px;
                color: $gray;
              }
              i{
                margin-right: 5px;
                font-size: large;
              }
            }
           }
        button{
          margin: 0px 15px 15px 5px;
          font-size: $mediumsize;
          width: 110px;
         height: 30px;
         border-radius: 10px;
         border: 1px solid $darkblue;
         background-color: $white;
         outline: none;
        }
        .sav{
          width: 105px;
          color: $white ;
          border: none;
          background-color: $darkblue;
        }
        .compt{
          width: 120px;
          color: $white;
          border: none;
          background-color: $green;
        }


      }
     .uls{
      //  left: 900px;
      //  top: 345px;
        left: -10px;
       top: 37px;
       position:absolute;
       z-index: 1;
       width: 240px;
       height: 200px;
       border-radius: 18px;
       background-color: $darkblue;

       button{
         text-align: center;
         margin: 20px;
         width: 25px;
         height: 25px;
         border-radius: 50%;
         float: right;
         background-color: $darkblue;
         color: white;
         outline: none;
         border: none;
        //  border: 1px solid white;
         i{
          font-size: $mediumsize;
          font-weight: $thickestfont ;
         }
       }
       ul{
         margin-left: 18px;
         padding:0px;
         height: 69%;
         margin-top: 60px;
         color: rgb(192, 191, 191);
         list-style: none;
        //  border: 1px solid white;
         font-size: $mediumsize;
         font-weight: $lightfont;
         li{
           margin: 7px;
           a{
            color: rgb(192, 191, 191);
            font-size: $mediumsize;
            font-weight: $lightfont;
            text-decoration: none;
           }
         }
         li:hover{
          cursor: pointer;
          color: white;
          a:hover{
            cursor: pointer;
           color: white;
          }
        }
       }

     }
       .btn{
         color:$darkblue;
        font-size: $mediumsize;
        width: 130px;
       height: 35px;
       border-radius: 15px;
       border: 1px solid $darkblue;
       background-color: $white;
       outline: none;
      }
      .btn1{
        color:$white;
       font-size: $mediumsize;
       width: 160px;
      height: 35px;
      border-radius: 15px;
      border: 1px solid $darkblue;
      background-color: $darkblue;
      outline: none;
     }
     }

    }

.customerlist{
  margin-top: 40px;
  // background-color: orange;
 table{
   text-align: left;
   width: 100%;
  //  border: 1px solid black;
   th,td{
     width: 12%;
    // border: 1px solid black;
   }
   .task{
     width: 16%;
   }
   th{
     padding-left:10px;
    font-weight: $thickfont ;
    font-size: $smallfont;
   }
   .asista{
    padding-left:20px;
   }

 }
 }
