@import "src/styles.scss";
  button:hover{
    cursor: pointer;
  }
  .maincontent{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-right: 25px;
    box-sizing: border-box;
    // background-color: darkseagreen;
    max-width:1506px;
    .status{
      width: 100%;
      height: 210px;
      display: flex;
      box-sizing: border-box;
      // background-color: burlywood;
      h2,h5{
        color: $darkblue;
        @include sizezero;
      }
      span{
        color: $color-05;
        font-weight: Regular;
        font-size: 16px;
      }
      .open{
        width: 23%;
        // background-color: coral;
        margin-right: 7%;
        .openc{
          // width: 100%;
          // height:23%;
          // margin-left: 7px;
          h2{
            font-weight: 600;
          font-size: 26px;
          color: $color-01;
          }
        }
      .openr{
        width: 99%;
        height: 75%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        .openr1{
          width: 50%;
        }
      }
      }
      .Statistics{
        width: 35%;
        // background-color: chartreuse;
        .Statisticst{
          // width: 100%;
          // height:23%;
          // margin-left: 10px;
          h2{
            font-weight: 600;
          font-size: 26px;
          color: $color-01;
          }
        }
        .Statisticsr{
          width: 99%;
          height: 75%;
          display: flex;
        flex-direction: row;
        justify-content:space-around;

        }
        .Statistics1{
          width: 33%;
          // border: 1px solid black;
        }
      }
      .round1{
        margin-left: 20px;
        width: 121px;
        height: 121px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 2px 0px 2px  $color-12;
      }
      .round2{
        h5{
          color: $color-12;
        }
        text-align: center;
        padding-top: 25px;
        position: relative;
        z-index: 1;
        top: -117px;
        left:25px;
        width: 114px;
        height: 114px;
         border-radius: 50%;
        background-color: #ffffff;
        box-shadow: -2px 0px 2px $color-12;
      }
      .round3{
        text-align: center;
        padding-top: 20px;
        position: relative;
        z-index: 1;
        top: -117px;
        left:25px;
        width: 114px;
        height: 114px;
         border-radius: 50%;
        background-color: #ffffff;
        box-shadow: -2px 0px 2px $color-07;
        // -webkit-box-reflect: left -100px;
        // border-left: 3px solid rgb(97, 177, 251);
        h2,h5{
          color: $color-07;
         }
        progress{
           -webkit-appearance: none;
            width: 70px;
            height:3px;
            overflow: hidden;
            &::-webkit-progress-bar{
              background:$color-12 ;
              border-radius: 25px;
            }
            &::-webkit-progress-value{
              background:  $color-07;
              border-radius: 25px;
            }
           }
      }
      .round4{
        margin-left: 20px;
        width: 121px;
        height: 121px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 2px 0px 2px  $color-07;
        // -webkit-box-reflect: left -100px;
        // border-right: 3px solid rgb(97, 177, 251);
      }

      .round5{
        text-align: center;
        padding-top: 20px;
        position: relative;
        z-index: 1;
        top: -117px;
        left:25px;
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: -2px 0px 2px $color-04;
        h2,h5{
          color: $color-04;
        }
        progress{
          -webkit-appearance: none;
           width: 70px;
           height:3px;
           overflow: hidden;
           &::-webkit-progress-bar{
             background:$color-12 ;
             border-radius: 25px;
           }
           &::-webkit-progress-value{
             background: $color-04;
             border-radius: 25px;
           }
          }
      }
      .round6{
        margin-left: 20px;
        width: 121px;
        height: 121px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 2px 0px 2px $color-04;
        // border-right: 3px solid rgb(251, 61, 61);
      }
      .round7{
        text-align: center;
        padding-top: 20px;
        position: relative;
        z-index: 1;
        top: -117px;
        left:25px;
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: -2px 0px 2px $color-08;
        // border-left: 3px solid rgb(30, 187, 30);
        h2,h5{
         color: $color-08;
        }
        progress{
          -webkit-appearance: none;
           width: 70px;
           height:3px;
           overflow: hidden;
           &::-webkit-progress-bar{
             background:$color-12 ;
             border-radius: 25px;
           }
           &::-webkit-progress-value{
             background: $color-08;
             border-radius: 25px;
           }
          }

      }
      .round8{
        margin-left: 20px;
        width: 121px;
        height: 121px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 2px 0px 2px $color-08;
        // border-right: 3px solid rgb(30, 187, 30);
      }

    }
     .assigned{
      //  padding-left: 5px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items:center;
       height: 70px;
       width:100% ;
       box-sizing: border-box;
      //  background-color: aqua;
       h1{
        @include sizezero;
        color: $color-01;
       padding-top: 10px;
       font-weight: Bold;
       font-size: 33px;
      }
       .bundle{
         display: flex;
         align-items: center;
         margin-top: 9px;
         h4{
          // @include sizezero;
          // margin-top: -1px;
           margin-left: 5px;
          //  color: $gray;
          //  padding-top: 10px;
          font-family: $fontfamily;
          font-size: 16px;
          font-weight: normal;
          color: $color-05;
         }
        //  i{
        //    margin-right: 5px;
        //    font-size: large;
        //  }
       }
       .bundles{
        display: flex;
        align-items: center;
        // i{
        //   margin-top: 7px;
        //   margin-right: 6px;
        //   font-size: large;
        // }
        svg{
          width: 20px;
          height: 20px;
        }
      }
       .rounda{
         width: 23px;
         height: 23px;
         border-radius: 50%;
         background-color: #FD3636;
         color: #ffffff;
         text-align: center;
       }
       input{
         color: $color-05;
        outline: none;
        width: 270px;
        height: 35px;
        border: none;
        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        border-bottom:1px solid $blue;
       }
       .btng{
         width:45%;
         display: flex;
         justify-content: space-evenly;
         position:relative;
         z-index: 0;
       }
       .btnf{
        // color:$darkblue;
        width: 44px;
        height: 40px;
      //  font-size: $mediumsize;
      //  width: 40px;
      // height: 35px;
      padding-top: 5px;
      border-radius: 10px;
      border: 1px solid $color-06;
      background-color: #ffffff;
      outline: none;
      svg{
        width: 20.6px;
        height: 21.2px;
      }
     }
     .visbl{
       visibility: visible;
     }
     .hides{
      visibility: hidden;
     }

     .filter{
      //  left: 900px;
      //  top: 345px;
        left:-822px;
       top: 54px;
       position:absolute;
       z-index: 2;
       width: 1320px;
       height: 389px;
       border-radius: 30px;
       background-color: white;
      //  box-shadow: 3px 0.5px 40px $lightgray;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
       padding: 25px;
       .fbox{
         display: flex;
         flex-direction: row;
         margin-top: 6px;
         margin-bottom: 4px;
         width: 100%;
         height: 73px;
        //  border: 1px solid black;
         label{
           width: 20%;
          //  font-size:15px ;
          //  font-weight: $thickfont;
          font-family: Poppins;
           font-size: 18px;
           font-weight: 500;
           color: $color-03;
         }
         .fbox1{
           display: flex;
           align-items: center;
          width: 38%;
          // height: 70px;
          // border: 1px solid black;
          input{
            padding-left: 15px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
          //  font-size: 14px;
          //  font-weight: $thickfont;
          //  width: 75%;
          //  height: 45px;
           width: 329px;
           height: 52px;
           border-radius:90px;
           border: 1px solid $color-05 ;
           outline: none;
          }
         }

        .fbox2{
          display: flex;
          align-items: center;
          width: 28%;
          // border: 1px solid black;
          label{
            width: 30%;
            // font-size:15px ;
            // font-weight: $thickfont;
            // color: $gray;
          }
          select{
            // width: 60%;
            // height: 45px;
            width: 208px;
            height: 52px;
            padding: 10px 30px 10px 30px;
            border-radius: 90px;
            // font-weight: $thickestfont ;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            outline: none;
            border: 1px solid $color-05;
          }
         }
         .fbox3{
          display: flex;
          align-items: center;
          width: 34%;
          // border: 1px solid black;
          label{
            width: 34%;
            // font-size:15px ;
            // font-weight: $thickfont;
            // color: $gray;
          }
          select{
            // width: 62%;
            // height: 45px;
            width: 249px;
            height: 52px;
            padding: 10px 30px 10px 30px;
            border-radius:90px;
            // font-weight: $thickestfont ;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            outline: none;
            border: 1px solid $color-05;
          }
         }
         .fbox4{
          display: flex;
          align-items: center;
          width: 29%;
          // border: 1px solid black;
          label{
            width: 50%;
            // font-size:15px ;
            // font-weight: $thickfont;
            // color: $gray;
          }
          select{
            // width: 40%;
            // height: 45px;
            width: 151px;
            height: 52px;
            padding: 10px 30px 10px 30px;
            border-radius: 90px;
            // font-weight: $thickestfont ;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            outline: none;
            border: 1px solid $color-05;
          }
         }
         .fbox5{
          display: flex;
          align-items: center;
          width: 33%;
          // border: 1px solid black;
          label{
            width: 30%;
            // font-size:15px ;
            // font-weight: $thickfont;
            // color: $gray;
          }
          select{
            // width: 65%;
            // height: 45px;
            width: 274px;
            height: 52px;
            padding: 10px 30px 10px 30px;
            border-radius: 90px;
            // font-weight: $thickestfont ;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            outline: none;
            border: 1px solid $color-05;
          }
         }
         .fbox6{
          display: flex;
          align-items: center;
          width: 33%;
          // border: 1px solid black;
          label{
            width: 23%;
            // font-size:15px ;
            // font-weight: $thickfont;
            // color: $gray;
          }
          select{
            // width: 38%;
            // height: 45px;
            width: 151px;
            height: 52px;
            padding: 10px 30px 10px 30px;
            border-radius: 90px;
            // font-weight: $thickestfont ;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            outline: none;
            border: 1px solid $color-05;
          }
         }
         .marg{
           margin-left: 55px;
         }
       }
           .searchg{
             margin-top: 20px;
             display: flex;
             align-items: center;
            //  background-color: burlywood;
             .bundls{
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              h4{
              //  margin-bottom: 6px;
                margin-left: 5px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: normal;
                color: $color-03;
              }
              i{
                margin-right: 5px;
                font-size: large;
              }
            }
           }
        button{
          margin: 0px 15px 15px 5px;
          font-size: $mediumsize;
          width: 110px;
         height: 30px;
         border-radius: 10px;
         border: 1px solid $darkblue;
         background-color: $white;
         outline: none;
        }
        .sav{
          // width: 105px;
          width: 116.6px;
          height: 40.4px;
          font-family: Poppins;
          font-size: 18px;
          font-weight: normal;
          color: $white ;
          border: none;
          border-radius: 15px;
          background-color: $color-01;
        }
        .compt{
          // width: 120px;
          width: 151.6px;
          height: 40.4px;
          font-family: Poppins;
          font-size: 18px;
          font-weight: normal;
          color: $white;
          border: none;
          border-radius: 15px;
          background-color: $color-08;
        }


      }
     .uls{
      //  left: 900px;
      //  top: 345px;
        left: 10px;
       top: 41px;
       position:absolute;
       z-index: 1;
      //  width: 240px;
      //  height: 200px;
        width: 289px;
        height: 243px;
       border-radius: 20px;
       background-color: $color-01;

       button{
         text-align: center;
         margin: 20px;
         width: 25px;
         height: 25px;
         border-radius: 50%;
         float: right;
         background-color: $color-01;
         color: white;
         outline: none;
         border: none;
        //  border: 1px solid white;
       }
       ul{
         margin-left: 18px;
         padding:0px;
         height: 69%;
         margin-top: 60px;
         color: $color-06;
         list-style: none;
        //  border: 1px solid white;
        //  font-size: $mediumsize;
        //  font-weight: $lightfont;
        font-family: Poppins;
            font-size: 18px;
             font-weight: 300;
         li{
           margin: 7px;
           margin-top: 12px;
           a{
            color: $color-06;
            // font-size: $mediumsize;
            // font-weight: $lightfont;
            font-family: Poppins;
            font-size: 18px;
             font-weight: 300;
            text-decoration: none;
           }
         }
         li:hover{
          cursor: pointer;
          color: white;
          a:hover{
            cursor: pointer;
           color: white;
          }
        }
       }

     }
       .btn{
        //  text-align: center;
        color: $color-01;
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
      //   width: 130px;
      //  height: 35px;
       width: 138.1px;
       height: 40.4px;
       border-radius: 15px;
       border: 1px solid $color-01;
       background-color: #ffffff;
       outline: none;
      //  padding-bottom: 25px;
       svg{
         padding-top: 5px;
        margin-left: 10px;
        width: 19px;
        height: 19px;
       }
       .svgs{

        //   padding-top: 5px;
        //  margin-left: 5px;
         width: 20px;
         height: 20px;

      }
      }
      .btn1{
        color: #ffffff;
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
       width: 193.6px;
       height: 40.4px;
      //  width: 160px;
      // height: 35px;
      border-radius: 15px;
      border: 1px solid $color-01;
      background-color: $color-01;
      outline: none;
      svg{
        margin-left: 5px;
        width: 18px;
        height: 18px;
        fill: #ffffff;
        // background-color: #ffffff;
        // border: solid 0.5px #ffffff;
      }
     }
     }

    }

.customerlist{
  margin-top: 40px;
  // background-color: orange;
 table{
   text-align: left;
   width: 100%;
  //  border: 1px solid black;
   th,td{
     width: 12%;
    // border: 1px solid black;
   }
   svg{
    width:20px;
    height: 12px;
  }
   .task{
     width: 16%;
     svg{
      width:9px;
      height: 5px;
    }
   }
   th{
     padding-left:10px;
    // font-weight: $thickfont ;
    // font-size: $smallfont;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: $color-03;
   }
   .asista{
    padding-left:20px;
   }

 }
 }
