<div class="container">
  <!-- class boxbrief for customer details in brief template-->
  <div class="blu-bx-ctnr">
    <div class="customer-brief-bluebox">
      <div class="customer-brief-whitebox">
        <!-- <img src="./assets/images1.jfif" alt="varghese" > -->
        <img src="./assets/images/profile.jpg" alt="varghese" >
        <div class="customer-brief-whitebox-items">
          <h3 class="customer-brief-whitebox-item1">A Laxmi Narasimha Bai</h3>
          <p class="customer-brief-whitebox-item2">Female/42yrs</p>
          <a href="#" class="customer-brief-whitebox-item3">more info +</a>
        </div>
      </div>
      <div class="customer-brief-table-container-box">
        <div class="customer-brief-table-container">
          <table class="customer-brief-table">
            <tr>
              <td class="customer-brief-table-firstcol">Type</td>
              <td>Vehicle Loan</td>
            </tr>
            <tr>
              <td class="customer-brief-table-firstcol">Appl.No</td>
              <td>VL-001201</td>
            </tr>
          </table>
        </div>
        <div class="customer-brief-table-container2">
          <table class="customer-brief-table">
            <tr>
              <td class="customer-brief-table-firstcol">Amount</td>
              <td>50000</td>
            </tr>
            <tr>
              <td class="customer-brief-table-firstcol">Priority</td>
              <td style="color: red;">High</td>
            </tr>
          </table>
        </div>
        <div class="customer-brief-table-container1">
          <table>
            <tr>
              <td class="customer-brief-table-firstcol">status</td>
              <td class="secondcol">New</td>
            </tr>
            <tr>
              <td class="customer-brief-table-firstcol">Stage</td>
              <td class="secondcol1">Credit Disbursement Approver</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="plist">
      <p>Document Collection</p>
      <p>Customer Interaction</p>
      <p>validation & Signoff</p>
      <p>Credit sanction</p>
      <p>Signature& Signoff</p>
      <p class="pl">Credit Disbursement Approver</p>
    </div>
    <div class="progressing">
      <ul>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-check"></i>
        </li>
        <li>
          <i class="pi pi-clock"></i>
        </li>
      </ul>
    </div>
    <div class="plist1">
      <p>quality check</p>
      <p>Verification Process</p>
      <p>Credit underwriting check</p>
      <p>Loan documentExecution</p>
      <p>Credit Disbursement</p>
      <!-- <p class="pl">Credit Disbursement Approver</p> -->
    </div>
  </div>

  <!-- class customer-details-boxes1 for the details template-->
  <div class="customer-details-boxes-container">
    <!-- <h2>Appraisal and Validation</h2> -->
    <!-- basic information temp -->
    <div id="Basic Information" class="customer-details-boxes">
      <h3>Basic Information</h3>
      <div class="customer-details-box">
        <table class="customer-details-box-table">
          <tr>
            <td class="customer-details-box-table-firstcol">First Name</td>
            <td class="customer-details-box-table-valuecol">Laxmi</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Second Name</td>
            <td class="customer-details-box-table-valuecol">Narasimha Bai</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Middle Name</td>
            <td class="customer-details-box-table-valuecol">A</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">DOB on Aadhaar</td>
            <td class="customer-details-box-table-valuecol">date</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Phone Number</td>
            <td class="customer-details-box-table-valuecol">+91 9747 123456</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Email</td>
            <td class="customer-details-box-table-valuecol">alaxmibhai@gmail.com</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Type of Loan</td>
            <td class="customer-details-box-table-valuecol">Vehicle Loan</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Loan Amount</td>
            <td class="customer-details-box-table-valuecol">50,000.00</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Photo</td>
            <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
            <td class="customer-details-box-table-valuecol">uploaded 1 file</td>
            <td class="customer-details-box-table-previewcol">preview</td>
          </tr>
        </table>
        <div class="customer-details-box-image2"></div>
      </div>
      <div class="verification">
        <div class="verfied">
          <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"><span class="vspn">verified</span></span>
          </label>
          <!-- <select name="" id="">
            <option value="">Select</option>
          </select> -->
       </div>
       <!-- <div class="err">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"><span class="vspn">Error</span></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
        </div>
        <div class="hold">
          <label class="switch">
          <input type="checkbox">
          <span class="slider round"><span class="vspn">Hold</span></span>
          </label>
          <select name="" id="">
            <option value="">Select Reason</option>
          </select>
       </div> -->
     </div>
     <div><textarea>free text</textarea></div>
    </div>
    <!-- Aadhaar card temp -->
    <div id="Aadhaar Card" class="customer-details-boxes">
      <h3>Aadhaar Card</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar Number</td>
          <td colspan="2"><input type="text" placeholder="253465789931"></td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Name on Aadhaar</td>
          <td class="customer-details-box-table-valuecol">A Laxmi Narasimha Bai</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">DOB on Aadhaar</td>
          <td class="customer-details-box-table-valuecol">20/04/1979</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar Front</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar Back</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
        <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"><span class="vspn">verified</span></span>
        </label>
        <!-- <select name="" id="">
          <option value="">Select</option>
        </select> -->
     </div>
     <!-- <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"><span class="vspn">Error</span></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"><span class="vspn">Hold</span></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div> -->
   </div>
   <div><textarea>free text</textarea></div>
    </div>
        <!-- pan card temp -->
        <div id="PAN Card" class="customer-details-boxes">
          <h3>PAN Card</h3>
          <div class="customer-details-box">
            <table>
              <tr>
                <td class="customer-details-box-table-firstcol">PAN Number</td>
                <td colspan="2"><input type="text" placeholder="EJAPS0276M"></td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">DOB on PAN</td>
                <td colspan="2"><input type="text" placeholder="20/04/1979"></td>
              </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">PAN</td>
              <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
              <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              <td class="customer-details-box-table-previewcol">preview</td>
            </tr>
          </table>
          <div class="customer-details-box-image">
            <img src="" alt="">
            <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
          </div>
        </div>
        <div class="verification">
          <div class="verfied">
            <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"><span class="vspn">verified</span></span>
            </label>
            <!-- <select name="" id="">
              <option value="">Select</option>
            </select> -->
         </div>
         <!-- <div class="err">
          <label class="switch">
          <input type="checkbox">
          <span class="slider round"><span class="vspn">Error</span></span>
          </label>
          <select name="" id="">
            <option value="">Select Reason</option>
          </select>
          </div>
          <div class="hold">
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"><span class="vspn">Hold</span></span>
            </label>
            <select name="" id="">
              <option value="">Select Reason</option>
            </select>
         </div> -->
       </div>
       <div><textarea>free text</textarea></div>
        </div>
        <!-- Address temp -->
        <div id="Address" class="customer-details-boxes">
          <h3>Address Proof</h3>
          <div class="customer-details-box">
            <table>
              <tr>
                <td class="customer-details-box-table-firstcol">Electricity bill</td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
                <td class="customer-details-box-table-previewcol">preview</td>
              </tr>
              <tr>
                <td class="customer-details-box-table-firstcol">passport</td>
                <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
                <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
                <td class="customer-details-box-table-previewcol">preview</td>
              </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Ration Card</td>
              <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
              <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              <td class="customer-details-box-table-previewcol">preview</td>
            </tr>
          </table>
          <div class="customer-details-box-image">
            <img src="" alt="">
            <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
          </div>
        </div>
        <div class="verification">
          <div class="verfied">
            <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"><span class="vspn">verified</span></span>
            </label>
            <!-- <select name="" id="">
              <option value="">Select</option>
            </select> -->
         </div>
         <!-- <div class="err">
          <label class="switch">
          <input type="checkbox">
          <span class="slider round"><span class="vspn">Error</span></span>
          </label>
          <select name="" id="">
            <option value="">Select Reason</option>
          </select>
          </div>
          <div class="hold">
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"><span class="vspn">Hold</span></span>
            </label>
            <select name="" id="">
              <option value="">Select Reason</option>
            </select>
         </div> -->
       </div>
       <div><textarea>free text</textarea></div>
        </div>
        <!-- membership temp -->
        <div id="Membership" class="customer-details-boxes">
          <h3>Membership</h3>
          <div class="customer-details-box"><table>
            <tr>
              <td class="customer-details-box-table-firstcol">CIF No.</td>
              <td class="customer-details-box-table-valuecol">CIF001</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Member Since</td>
              <td class="customer-details-box-table-valuecol">2010</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">ID Card/Passbook</td>
              <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
              <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              <td class="customer-details-box-table-previewcol">preview</td>
            </tr>
          </table>
          <div class="customer-details-box-image">
            <img src="" alt="">
            <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
          </div>
        </div>
        <div class="verification">
          <div class="verfied">
            <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"><span class="vspn">verified</span></span>
            </label>
            <!-- <select name="" id="">
              <option value="">Select</option>
            </select> -->
         </div>
         <!-- <div class="err">
          <label class="switch">
          <input type="checkbox">
          <span class="slider round"><span class="vspn">Error</span></span>
          </label>
          <select name="" id="">
            <option value="">Select Reason</option>
          </select>
          </div>
          <div class="hold">
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"><span class="vspn">Hold</span></span>
            </label>
            <select name="" id="">
              <option value="">Select Reason</option>
            </select>
         </div> -->
       </div>
       <div><textarea>free text</textarea></div>
        </div>
            <!-- Income Proof temp -->
    <div id="Income Proof" class="customer-details-boxes">
      <h3>Income Proof</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Annual Income</td>
          <td class="customer-details-box-table-valuecol">3,00,000.00</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">ITR financial Year</td>
          <td class="customer-details-box-table-valuecol">2019-2020</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Other Sourse of Income</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">ITR</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
        <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"><span class="vspn">verified</span></span>
        </label>
        <!-- <select name="" id="">
          <option value="">Select</option>
        </select> -->
     </div>
     <!-- <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"><span class="vspn">Error</span></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"><span class="vspn">Hold</span></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div> -->
   </div>
   <div><textarea>free text</textarea></div>
    </div>
    <!-- Employment temp -->
    <div id="Employment" class="customer-details-boxes">
      <h3>Employment</h3>
      <div class="customer-details-box">
        <table>
          <tr>
            <td class="customer-details-box-table-firstcol">Occupation</td>
            <td class="customer-details-box-table-valuecol">Accountant</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Current Employer Name</td>
            <td class="customer-details-box-table-valuecol">Truke Electronics</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Employment Type</td>
            <td class="customer-details-box-table-valuecol">private</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Monthly Salary</td>
            <td class="customer-details-box-table-valuecol">25000.00</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">No.of Years in Current Job</td>
            <td class="customer-details-box-table-valuecol">1 Year</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Nature of Employment</td>
            <td class="customer-details-box-table-valuecol">Salaried</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Total Years of Experience</td>
            <td class="customer-details-box-table-valuecol">5 years</td>
          </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Employment proof</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Salary proof</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
        <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"><span class="vspn">verified</span></span>
        </label>
        <!-- <select name="" id="">
          <option value="">Select</option>
        </select> -->
     </div>
     <!-- <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"><span class="vspn">Error</span></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"><span class="vspn">Hold</span></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div> -->
   </div>
   <div><textarea>free text</textarea></div>
          </div>
          <!-- Bank temp -->
    <div id="Bank" class="customer-details-boxes">
      <h3>Bank</h3>
      <div class="customer-details-box">
        <table>
          <tr>
            <td class="customer-details-box-table-firstcol">Bank Account Number</td>
            <td class="customer-details-box-table-valuecol">204556783</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Bank Name</td>
            <td class="customer-details-box-table-valuecol">Bank of Baroda</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Monthly Salary / Credits(Avg)</td>
            <td class="customer-details-box-table-valuecol">25,000.00</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Any Active Loans</td>
            <td class="customer-details-box-table-valuecol">NA</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Loan EMI</td>
            <td class="customer-details-box-table-valuecol">NA</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Monthly Withdrawals / Debits(Avg)</td>
            <td class="customer-details-box-table-valuecol">10,000.00</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Annual Income</td>
            <td class="customer-details-box-table-valuecol">300000.00</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">DRD A/C No.</td>
            <td class="customer-details-box-table-valuecol">204556783</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">DRD A/C Balance</td>
            <td class="customer-details-box-table-valuecol">10,000</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">DRD A/C Status</td>
            <td class="customer-details-box-table-valuecol">Active</td>
          </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Bank statement</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
            <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"><span class="vspn">verified</span></span>
        </label>
        <!-- <select name="" id="">
          <option value="">Select</option>
        </select> -->
     </div>
     <!-- <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"><span class="vspn">Error</span></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"><span class="vspn">Hold</span></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div> -->
   </div>
   <div><textarea>free text</textarea></div>
        </div>
        <!-- Existing Loan temp -->
    <div id="Existing Loan" class="customer-details-boxes">
      <h3>Existing Loan</h3>
      <div class="customer-details-box">
        <table>
        <tr>
          <td class="customer-details-box-table-firstcol">Existing Loan</td>
          <td class="customer-details-box-table-valuecol">Personal Loan</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Existing Loan Status</td>
          <td class="customer-details-box-table-valuecol">Normal</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Loan A/C No</td>
          <td class="customer-details-box-table-valuecol">20234567</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Loan A/C Balance</td>
          <td class="customer-details-box-table-valuecol">15000.00</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Overdue</td>
          <td class="customer-details-box-table-valuecol">NA</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
            <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"><span class="vspn">verified</span></span>
        </label>
        <!-- <select name="" id="">
          <option value="">Select</option>
        </select> -->
     </div>
     <!-- <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"><span class="vspn">Error</span></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"><span class="vspn">Hold</span></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div> -->
   </div>
   <div><textarea>free text</textarea></div>
    </div>
    <!-- Property temp -->
    <div id="Property" class="customer-details-boxes">
      <h3>Property</h3>
      <div class="customer-details-box">
        <table>
          <tr>
            <td class="customer-details-box-table-firstcol">Property Type</td>
            <td class="customer-details-box-table-valuecol">Land</td>
          </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Property Holding Type</td>
          <td class="customer-details-box-table-valuecol">Owned</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Property Valuation</td>
          <td class="customer-details-box-table-valuecol">100000.00</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Co-owner Name</td>
          <td class="customer-details-box-table-valuecol">NA</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Relationship</td>
          <td class="customer-details-box-table-valuecol">NA</td>
        </tr>
      </table>
      <div class="customer-details-box-image"></div>
    </div>
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"><span class="vspn">verified</span></span>
        </label>
        <!-- <select name="" id="">
          <option value="">Select</option>
        </select> -->
     </div>
     <!-- <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"><span class="vspn">Error</span></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"><span class="vspn">Hold</span></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div> -->
   </div>
   <div><textarea>free text</textarea></div>
    </div>
    <div >
      <!-- <button type="submit" class="button-save">Save</button> -->
      <button type="submit" class="button-submit">Approval & print</button>
      <!-- <button type="button" class="button-referback">Refer Back</button> -->
    </div>
  </div>

</div>




