<form action="">
  <div class="container">

    <div class="blu-bx-ctnr">
      <div class="customer-brief-bluebox">
        <div class="customer-brief-whitebox">
          <img src="./assets/images1.jfif" alt="varghese" >
          <div class="customer-brief-whitebox-items">
            <h3 class="customer-brief-whitebox-item1">A Laxmi Narasimha</h3>
            <p class="customer-brief-whitebox-item2">Female/42yrs</p>
            <a href="#" class="customer-brief-whitebox-item3">more info +</a>
          </div>
        </div>
        <div class="customer-brief-table-container-box">
          <div class="customer-brief-table-container">
            <table class="customer-brief-table">
              <tr>
                <td class="customer-brief-table-firstcol">Type</td>
                <td>Vehicle Loan</td>
              </tr>
              <tr>
                <td class="customer-brief-table-firstcol">Appl.No</td>
                <td>VL-001201</td>
              </tr>
            </table>
          </div>
          <div class="customer-brief-table-container">
            <table class="customer-brief-table">
              <tr>
                <td class="customer-brief-table-firstcol">Amount</td>
                <td>50000</td>
              </tr>
              <tr>
                <td class="customer-brief-table-firstcol">Priority</td>
                <td class="highlight1">High</td>
              </tr>
            </table>
          </div>
          <div class="customer-brief-table-container">
            <table>
              <tr>
                <td class="customer-brief-table-firstcol">status</td>
                <td class="highlight2">New</td>
              </tr>
              <tr>
                <td class="customer-brief-table-firstcol">Stage</td>
                <td>Document Collection</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="plist">
        <p>Document Collection</p>
        <p>Customer Interaction</p>
        <p>validation & Signoff</p>
        <p>Credit sanction</p>
        <p>Signature& Signoff</p>
        <p class="pl">Credit Disbursement Approver</p>
      </div>
      <div class="progressing">
        <ul>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
          <li>
            <i class="pi pi-check"></i>
          </li>
        </ul>
      </div>
      <div class="plist1">
        <p>quality check</p>
        <p>Verification Process</p>
        <p>Credit underwriting check</p>
        <p>Loan documentExecution</p>
        <p>Credit Disbursement</p>
        <!-- <p class="pl">Credit Disbursement Approver</p> -->
      </div>
    </div>

    <div class="customer-info">
      <div class="prime">
        <div class="basic">
          <table>
            <tr>
              <td colspan="2"><h2>Income Proof</h2></td>
            </tr>
            <tr>
              <td><label for="Aadhaar Number">Annual Income</label></td>
              <td><input type="text" placeholder="300000.00"></td>
            </tr>
            <tr>
              <td><label for="secondname">ITR Financial Year</label></td>
              <td><input type="text" placeholder="2019-2020"></td>
            </tr>
            <tr>
              <td><label for="dob">Other Source of Income</label></td>
              <td><input type="text" placeholder="NA"></td>
            </tr>
          </table>
        </div>
        <div class="imgpre">
          <div class="imgbox">
            <img src="./assets/images/income proof.jpg" alt="customer image">
          </div>
          <button>Preview <i class="pi pi-eye"></i></button>
        </div>
      </div>
      <div class="second">
        <label for="">ITR Upload</label>
        <button>Upload<i class="pi pi-upload"></i></button>
        <p>file</p>
        <i class="pi pi-pencil"></i>
        <i class="pi pi-trash"></i>
        <progress max="10" value="10"></progress>
        <p>Uploaded 1 file</p>
        <i class="pi pi-minus"></i>
        <i class="pi pi-plus"></i>
        <p>preview</p>
      </div>
    </div>
    <div class="btns">
      <div>
        <button class="sav">Save</button>
        <button class="compt" (click)="onCreate()" type="submit">Complete</button>
      </div>
      <button (click)="previous()">Previous</button>
      <button (click)="onCreate()">Next</button>
    </div>
  </div>

 </form>




