@import "src/styles.scss";
.container{
  // margin-left: 30px;
  width: 98%;
  height: 430px;
  overflow: auto;
  font-size: $mediumsize;
  font-weight: $thickfont;
  // background-color: rgb(202, 236, 193);
  h1{
    color: $darkblue;
    font-size: 27px;
  }
  button:hover{
    cursor: pointer;
  }
  // $$$$
  .customer-info{
    margin-bottom: 40px;
    padding: 25px ;
    width: 100%;
    min-height: 100px;
    // background-color: rgb(236, 193, 193);
    background-color: $white;
    border: 1px solid $lightgray;
    border-radius: 20px;
    // margin-bottom: 30px;
    h2{
      color: $color-01;
      // width:600px;
      // height: 30px;
      border-left: 3px solid $red;
      // padding-top: 0px;
      padding-left: 20px;
      // margin-top:0px;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
    }
     .prime{
       display: flex;
       width: 100%;
       height: 90%;
       background-color: rgb(236, 235, 166);
       .basic{
        width: 75%;
        height: 100%;
       background-color: rgb(246, 249, 250);
       table{
         border: 1px solid black;
         width: 85%;
         td{
          height: 60px;
          font-size: 14px;
          font-weight: $thickfont;
          border: 1px solid black;
         }
         .fcol{
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
         }
         .scol{
          font-family: Poppins;
          font-size: 16px;
          font-weight: 300;
         }
         .pcol{
           color: $color-07;
          font-family: Poppins;
          font-size: 14px;
          font-weight: normal;
         }
         progress{
          // margin-bottom:3px ;
           -webkit-appearance: none;
            width: 141px;
            height: 8px;
            overflow: hidden;
            &::-webkit-progress-bar{
              background: $color-06;
              border-radius: 35px;
            }
            &::-webkit-progress-value{
              background: $color-08 ;
              border-radius: 35px;
            }
           }
         input{
           padding-left: 15px;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 300;
          width: 426px;
          height: 52px;
          border-radius: 25px;
          border: 1px solid $color-06 ;
          outline: none;
         }
       }
       }
       .imgpre{
        width: 25%;
        height: 100%;
      //  background-color: rgb(121, 120, 91);
      padding-top: 20px;
       display: flex;
       flex-direction: column;
       align-items: center;
       .imgbox{
        width: 89%;
        padding-left: 10px;
        // background-color: rgb(121, 120, 91);
        img{
          width: 253px;
          height: 153px;
          border-radius: 25px;
        }
       }
       button{
           @include sizezero;
           text-align: start;
            padding-left: 16px;
            width: 254px;
            height: 42.3px;
            border: none;
            background-color: $color-10;
            border-left: 3px solid $color-01;
            margin-top: 5px;
            // margin-left: 20px;
            font-family: Poppins;
            font-size: 18px;
            font-weight: normal;
            color: $color-01;
            outline: none;
        svg{
          margin-right: 20px;
          margin-top: 10px;
          float: right;
          // color: $blue;
        }
      }
       }
     }
     .second{
       display: flex;
       flex-direction: row;
       justify-content:space-around;
       align-items: center;
       font-size: 14px;
       font-weight: $thickfont;
      width: 90%;
      height: 10%;
      // background-color: rgb(210, 166, 236);
      button{
        margin-left: 50px;
        font-size: $mediumsize;
        width: 150px;
       height: 40px;
       border-radius: 25px;
       border: 1px solid $darkblue;
       background-color: $white;
       outline: none;
      }
      .pi-pencil,.pi-plus{
        color: $darkblue;
      }
      .pi-trash,.pi-minus{
        color: $red;
      }
      progress{
        margin-bottom:3px ;
         -webkit-appearance: none;
          width: 130px;
          height: 7px;
          overflow: hidden;
          &::-webkit-progress-bar{
            background:$gray ;
            border-radius: 25px;
          }
          &::-webkit-progress-value{
            background: $green;
            border-radius: 25px;
          }
         }
    }
          // jybfyn mntbft
          .verification{
            width: 100%;
            margin-top: 70px;
            margin-bottom: 29px;
            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            background-color: hotpink;
            select{
              @include  selectsame;
              width: 214px;
              height: 42px;
              margin-left: 20px;
              border: 1px solid $color-08;
              padding-left: 20px;
              font-family: Poppins;
              font-size: 18px;
              font-weight: 300;
             }


            .verfied{
              width: 33%;
              display: flex;
              flex-direction: row;
              .switch {
                position: relative;
                display: inline-block;
                width: 138px;
                height: 42px;
              }

              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }

              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #BBDDAE;
                -webkit-transition: .4s;
                transition: .4s;
              }

              .slider:before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                left: 10px;
                bottom: 10px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              .slider:after{
                content: 'Verify';
                font-family: Poppins;
                font-size: 18px;
                font-weight: normal;
                position: relative;
                left:40px;
                top: 7px;
                z-index: 2;
                color: $color-01;
              }

              input:checked + .slider {
                background-color: $color-08;
              }
              // input:checked + .vspn {
              //   visibility: visible;
              // }
              input:focus + .slider {
                box-shadow: 0 0 1px $color-08;
              }
              input:checked + .slider:after
              {  content:'Verified';
                font-family: Poppins;
                font-size: 18px;
                font-weight: normal;
                position: relative;
                left: 15px;
                top: 7px;
                z-index: 2;
                color: white;}

              input:checked + .slider:before {
                transform: translateX(95px);
                -webkit-transform: translateX(95px);
                // -ms-transform: translateX(80px);
                // transform: translateX(80px);
              }

              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }

              .slider.round:before {
                border-radius: 50%;
              }
            }
            .err{
              width: 32.5%;
              display: flex;
              flex-direction: row;
              .switch {
                position: relative;
                display: inline-block;
                width: 117px;
                height: 42px;
              }

              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }

              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #e6b8b2;
                -webkit-transition: .4s;
                transition: .4s;
              }

              .slider:before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                left: 10px;
                bottom: 10px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              .slider:after{
                content: 'Error';
                font-family: Poppins;
                font-size: 18px;
                font-weight: normal;
                position: relative;
                left:40px;
                top: 7px;
                z-index: 2;
                color: $color-01;
              }

              input:checked + .slider {
                background-color: $color-04;
              }

              input:focus + .slider {
                box-shadow: 0 0 1px $color-04;
              }
              input:checked + .slider:after
              {  content:'Error';
                font-family: Poppins;
                font-size: 18px;
                font-weight: normal;
                position: relative;
                left: 15px;
                top: 7px;
                z-index: 2;
                color: white;}

              input:checked + .slider:before {
                transform: translateX(75px);
                -webkit-transform: translateX(75px);
                // -ms-transform: translateX(80px);
                // transform: translateX(80px);
              }

              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }

              .slider.round:before {
                border-radius: 50%;
              }
            }
            .hold{
              width: 32.5%;
              display: flex;
              flex-direction: row;
              .switch {
                position: relative;
                display: inline-block;
                width: 117px;
                height: 42px;
              }

              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }

              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #8f91d3;
                -webkit-transition: .4s;
                transition: .4s;
              }

              .slider:before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                left: 10px;
                bottom: 10px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              .slider:after{
                content: 'Hold';
                font-family: Poppins;
                font-size: 18px;
                font-weight: normal;
                position: relative;
                left:40px;
                top: 7px;
                z-index: 2;
                color: $color-01;
              }

              input:checked + .slider {
                background-color: $color-01;
              }

              input:focus + .slider {
                box-shadow: 0 0 1px $color-01;
              }
              input:checked + .slider:after
              {  content:'Hold';
                font-family: Poppins;
                font-size: 18px;
                font-weight: normal;
                position: relative;
                left: 15px;
                top: 7px;
                z-index: 2;
                color: white;}

              input:checked + .slider:before {
                transform: translateX(75px);
                -webkit-transform: translateX(75px);
                // -ms-transform: translateX(80px);
                // transform: translateX(80px);
              }

              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }

              .slider.round:before {
                border-radius: 50%;
              }
            }
          }
          .textcol{
            background-color: rgb(86, 146, 224);
            width: 100%;
            margin-bottom: 25px;
            textarea{
              @include  selectsame;
              width: 1163px;
              height: 52px;
              // margin-left: 10px;
              border: 1px solid $color-06;
              outline: none;
              font-size: 18px;
              font-weight: normal;
              color:$color-05;
              padding-top: 14px;
              padding-left: 25px;
             }
          }
          // hngctbd
  }
  .btns{
    button{
      margin: 20px 15px 15px 5px;
      font-size: $mediumsize;
      width: 110px;
     height: 30px;
     border-radius: 10px;
     border: 1px solid $darkblue;
     background-color: $white;
     outline: none;
    }
    .sav{
      color: $white ;
      border: none;
      background-color: $darkblue;
    }
    .compt{
      color: $white;
      border: none;
      background-color: $green;
    }
    .redd{
      color: $white;
      border: none;
      background-color: $red;
    }
  }

}
.container::-webkit-scrollbar {
  display: none;
}
