<form action="">
  <div class="container">
    <!-- 1111111111 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Basic Information</h2></td>
        </tr>
        <tr>
          <td class="fcol">First Name</td>
          <td class="scol">Laxmi</td>
        </tr>
        <tr>
          <td class="fcol">Second Name</td>
          <td class="scol">Narasimha Bai</td>
        </tr>
        <tr>
          <td class="fcol">Middle Name</td>
          <td class="scol">A</td>
        </tr>
        <tr>
          <td class="fcol">DOB on Aadhaar</td>
          <td class="scol">date</td>
        </tr>
        <tr>
          <td class="fcol">Phone Number</td>
          <td class="scol">+91 9747 123456</td>
        </tr>
        <tr>
          <td class="fcol">Email</td>
          <td class="scol">alaxmibhai@gmail.com</td>
        </tr>
        <tr>
          <td class="fcol">Type of Loan</td>
          <td class="scol">Vehicle Loan</td>
        </tr>
        <tr>
          <td class="fcol">Loan Amount</td>
          <td class="scol">50,000.00</td>
        </tr>
        <tr>
          <td class="fcol">Photo</td>
          <td><progress max="10" value="10"></progress></td>
          <td class="scol">uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
  <!-- <div class="second">
    <label for="">Photo</label>
    <progress max="10" value="10"></progress>
    <button>Upload<i class="pi pi-upload"></i></button>
    <p>Uploaded 1 file</p>
    <p>preview</p>
    </div> -->
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 22222 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Aadhaar Card</h2></td>
        </tr>
        <tr>
          <td class="fcol">Aadhaar Number</td>
          <td colspan="2" class="scol"><input type="text" placeholder="253465789931"></td>
        </tr>
        <tr>
          <td class="fcol">Name on Aadhaar</td>
          <td class="scol">A Laxmi Narasimha Bai</td>
        </tr>
        <tr>
          <td class="fcol">DOB on Aadhaar</td>
          <td class="scol">A</td>
        </tr>
        <tr>
          <td class="fcol">DOB on Aadhaar</td>
          <td class="scol">20/04/1979</td>
        </tr>
        <tr>
          <td class="fcol">Aadhaar Front</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
        <tr>
          <td class="fcol">Aadhaar Back</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
  <!-- <div class="second">
    <label for="">Photo</label>
    <progress max="10" value="10"></progress>
    <button>Upload<i class="pi pi-upload"></i></button>
    <p>Uploaded 1 file</p>
    <p>preview</p>
    </div> -->
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 33333 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>PAN Card</h2></td>
        </tr>
        <tr>
          <td class="fcol">PAN Number</td>
          <td colspan="2" class="scol"><input type="text" placeholder="EJAPS0276M"></td>
        </tr>
        <tr>
          <td class="fcol">DOB on PAN</td>
          <td class="scol">20/04/1979</td>
        </tr>
        <tr>
          <td class="fcol">PAN</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 44444 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Address Proof</h2></td>
        </tr>
        <tr>
          <td class="fcol">Electricity bill</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
        <tr>
          <td class="fcol">passport</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
        <tr>
          <td class="fcol">Ration Card</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 5555 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Membership</h2></td>
        </tr>
        <tr>
          <td class="fcol">CIF No.</td>
          <td class="scol">CIF001</td>
        </tr>
        <tr>
          <td class="fcol">Member Since</td>
          <td class="scol">2010</td>
        </tr>
        <tr>
          <td class="fcol">ID Card/Passbook</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 66666 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Income Proof</h2></td>
        </tr>
        <tr>
          <td class="fcol">Annual Income</td>
          <td class="scol">3,00,000.00</td>
        </tr>
        <tr>
          <td class="fcol">ITR financial Year</td>
          <td class="scol">2019-2020</td>
        </tr>
        <tr>
          <td class="fcol">Other Sourse of Income</td>
          <td class="scol">---</td>
        </tr>
        <tr>
          <td class="fcol">ITR</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 77777 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Employment</h2></td>
        </tr>
        <tr>
          <td class="fcol">Occupation</td>
          <td class="scol">Accountant</td>
        </tr>
        <tr>
          <td class="fcol">Current Employer Name</td>
          <td class="scol">Truke Electronics</td>
        </tr>
        <tr>
          <td class="fcol">Employment Type</td>
          <td class="scol">private</td>
        </tr>
        <tr>
          <td class="fcol">Monthly Salary</td>
          <td class="scol">25000.00</td>
        </tr>
        <tr>
          <td class="fcol">No.of Years in Current Job</td>
          <td class="scol">1 Year</td>
        </tr>
        <tr>
          <td class="fcol">Nature of Employment</td>
          <td class="scol">Salaried</td>
        </tr>
        <tr>
          <td class="fcol">Total Years of Experience</td>
          <td class="scol">5 years</td>
        </tr>
        <tr>
          <td class="fcol">Employment proof</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
        <tr>
          <td class="fcol">Salary proof</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 88888 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Bank</h2></td>
        </tr>
        <tr>
          <td class="fcol">Bank Account Number</td>
          <td class="scol">204556783</td>
        </tr>
        <tr>
          <td class="fcol">Bank Name</td>
          <td class="scol">Bank of Baroda</td>
        </tr>
        <tr>
          <td class="fcol">Monthly Salary / Credits(Avg)</td>
          <td class="scol">25,000.00</td>
        </tr>
        <tr>
          <td class="fcol">Any Active Loans</td>
          <td class="scol">NA</td>
        </tr>
        <tr>
          <td class="fcol">Loan EMI</td>
          <td class="scol">NA</td>
        </tr>
        <tr>
          <td class="fcol">Monthly Withdrawals / Debits(Avg)</td>
          <td class="scol">10,000.00</td>
        </tr>
        <tr>
          <td class="fcol">Annual Income</td>
          <td class="scol">300000.00</td>
        </tr>
        <tr>
          <td class="fcol">DRD A/C No.</td>
          <td class="scol">204556783</td>
        </tr>
        <tr>
          <td class="fcol">DRD A/C Balance</td>
          <td class="scol">10,000</td>
        </tr>
        <tr>
          <td class="fcol">DRD A/C Status</td>
          <td class="scol">Active</td>
        </tr>
        <tr>
          <td class="fcol">Bank statement</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 99999 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Existing Loan</h2></td>
        </tr>
        <tr>
          <td class="fcol">Existing Loan</td>
          <td class="scol">Personal Loan</td>
        </tr>
        <tr>
          <td class="fcol">Existing Loan Status</td>
          <td class="scol">Normal</td>
        </tr>
        <tr>
          <td class="fcol">Loan A/C No</td>
          <td class="scol">20234567</td>
        </tr>
        <tr>
          <td class="fcol">Loan A/C Balance</td>
          <td class="scol">15000.00</td>
        </tr>
        <tr>
          <td class="fcol">Overdue</td>
          <td class="scol">NA</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 101010 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Property</h2></td>
        </tr>
        <tr>
          <td class="fcol">Property Type</td>
          <td class="scol">Land</td>
        </tr>
      <tr>
        <td class="fcol">Property Holding Type</td>
        <td class="scol">Owned</td>
      </tr>
      <tr>
        <td class="fcol">Property Valuation</td>
        <td class="scol">100000.00</td>
      </tr>
      <tr>
        <td class="fcol">Co-owner Name</td>
        <td class="scol">NA</td>
      </tr>
      <tr>
        <td class="fcol">Relationship</td>
        <td class="scol">NA</td>
      </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- history temp -->
<h1>History</h1>
       <div class="customer-info">
        <h2>March 06</h2>
        <div class="history">
          <table>
            <tr class="tr1">
              <td class="td1"><div class="roundd">JK</div><table><tr><td class="p">JayaKrishnan</td><td><button class="button1">Verified</button></td>
                <td class="p1">Application VL-001201 of ALaxmi Bai</td><td class="p1">Approval & print</td></tr></table></td>
            </tr>
            <tr>
             <td class="td2">Changed Status - Hold to Verified</td>
            </tr>
            <tr>
              <td class="td2"><svg xmlns="http://www.w3.org/2000/svg" width="20.799" height="20.799" viewBox="0 0 20.799 20.799">
                <g id="clock" transform="translate(0)">
                  <path id="Path_202" data-name="Path 202" d="M18.611,5.473a.867.867,0,0,0-.4,1.157,8.578,8.578,0,0,1,.858,3.77A8.666,8.666,0,1,1,10.4,1.733,8.562,8.562,0,0,1,15.78,3.6a.867.867,0,1,0,1.078-1.357A10.4,10.4,0,1,0,20.8,10.4a10.293,10.293,0,0,0-1.031-4.524.866.866,0,0,0-1.157-.4Zm0,0" fill="#18188b"/>
                  <path id="Path_203" data-name="Path 203" d="M177.075,64A1.075,1.075,0,0,0,176,65.075V72.6a1.075,1.075,0,0,0,1.075,1.075h5.373a1.075,1.075,0,0,0,0-2.149h-4.3V65.075A1.075,1.075,0,0,0,177.075,64Zm0,0" transform="translate(-167.409 -60.811)" fill="#18188b"/>
                </g>
              </svg><p class="p">06/mar/20 <span>10:20:31 AM</span></p></td>
            </tr>
        </table>
        <table>
          <tr class="tr1">
            <td class="td1"><div class="roundd">SK</div><table><tr><td class="p">Soorya Kiran</td><td><button class="button1">Verified</button></td>
              <td class="p1">Application VL-001201 of ALaxmi Bai</td><td class="p1">Approval & print</td></tr></table></td>
          </tr>
          <tr>
           <td class="td2">Changed Status - Hold to Verified</td>
          </tr>
          <tr>
            <td class="td2"><svg xmlns="http://www.w3.org/2000/svg" width="20.799" height="20.799" viewBox="0 0 20.799 20.799">
              <g id="clock" transform="translate(0)">
                <path id="Path_202" data-name="Path 202" d="M18.611,5.473a.867.867,0,0,0-.4,1.157,8.578,8.578,0,0,1,.858,3.77A8.666,8.666,0,1,1,10.4,1.733,8.562,8.562,0,0,1,15.78,3.6a.867.867,0,1,0,1.078-1.357A10.4,10.4,0,1,0,20.8,10.4a10.293,10.293,0,0,0-1.031-4.524.866.866,0,0,0-1.157-.4Zm0,0" fill="#18188b"/>
                <path id="Path_203" data-name="Path 203" d="M177.075,64A1.075,1.075,0,0,0,176,65.075V72.6a1.075,1.075,0,0,0,1.075,1.075h5.373a1.075,1.075,0,0,0,0-2.149h-4.3V65.075A1.075,1.075,0,0,0,177.075,64Zm0,0" transform="translate(-167.409 -60.811)" fill="#18188b"/>
              </g>
            </svg><p class="p">06/mar/20 <span>10:20:31 AM</span></p></td>
          </tr>
      </table>
      </div>
      </div>
<!-- last -->
  </div>
 </form>



