<form action="">
  <div class="container">
      <!-- 11111 -->
    <div class="customer-info">
      <div class="prime">
        <div class="basic">
          <table>
            <tr>
              <td colspan="2"><h2>Aadhaar Card</h2></td>
            </tr>
            <tr>
              <td><label for="Aadhaar Number">Aadhaar Number</label></td>
              <td><input type="text" placeholder="2345 6789 9112"></td>
            </tr>
            <tr>
              <td><label for="dob">DOB on Aadhaar</label></td>
              <td><input type="text" placeholder="20/04/1979"></td>
            </tr>
            <tr>
              <td><label for="dob">Age</label></td>
              <td><input type="text" placeholder="42yrs"></td>
            </tr>
          </table>
        </div>
        <div class="imgpre">
          <div class="imgbox">
            <img src="./assets/images/aadhar.jpg" alt="customer image">
          </div>
          <button>Preview <i class="pi pi-eye"></i></button>
        </div>
      </div>
      <div class="second">
        <label for="">Upload Photo</label>
        <button>Upload<i class="pi pi-upload"></i></button>
        <p>file</p>
        <i class="pi pi-pencil"></i>
        <i class="pi pi-trash"></i>
        <progress max="10" value="10"></progress>
        <p>Uploaded 1 file</p>
        <i class="pi pi-minus"></i>
        <i class="pi pi-plus"></i>
        <p>preview</p>
      </div>
      <div class="second">
        <label for="">Upload Photo</label>
        <button>Upload<i class="pi pi-upload"></i></button>
        <p>file</p>
        <i class="pi pi-pencil"></i>
        <i class="pi pi-trash"></i>
        <progress max="10" value="10"></progress>
        <p>Uploaded 1 file</p>
        <i class="pi pi-minus"></i>
        <i class="pi pi-plus"></i>
        <p>preview</p>
      </div>
    </div>
    <!-- <div class="btns">
      <div>
        <button class="compt" type="submit" (click)="onClick()">Submit</button>
        <button class="redd">Refer Back</button>
      </div>
    </div> -->
    <!-- hb -->
    <!-- 1111111111 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Basic Information</h2></td>
        </tr>
        <tr>
          <td class="fcol">First Name</td>
          <td class="scol">Laxmi</td>
        </tr>
        <tr>
          <td class="fcol">Second Name</td>
          <td class="scol">Narasimha Bai</td>
        </tr>
        <tr>
          <td class="fcol">Middle Name</td>
          <td class="scol">A</td>
        </tr>
        <tr>
          <td class="fcol">DOB on Aadhaar</td>
          <td class="scol">date</td>
        </tr>
        <tr>
          <td class="fcol">Phone Number</td>
          <td class="scol">+91 9747 123456</td>
        </tr>
        <tr>
          <td class="fcol">Email</td>
          <td class="scol">alaxmibhai@gmail.com</td>
        </tr>
        <tr>
          <td class="fcol">Type of Loan</td>
          <td class="scol">Vehicle Loan</td>
        </tr>
        <tr>
          <td class="fcol">Loan Amount</td>
          <td class="scol">50,000.00</td>
        </tr>
        <tr>
          <td class="fcol">Photo</td>
          <td><progress max="10" value="10"></progress></td>
          <td class="scol">uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
  <!-- <div class="second">
    <label for="">Photo</label>
    <progress max="10" value="10"></progress>
    <button>Upload<i class="pi pi-upload"></i></button>
    <p>Uploaded 1 file</p>
    <p>preview</p>
    </div> -->
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 22222 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Aadhaar Card</h2></td>
        </tr>
        <tr>
          <td class="fcol">Aadhaar Number</td>
          <td colspan="2" class="scol"><input type="text" placeholder="253465789931"></td>
        </tr>
        <tr>
          <td class="fcol">Name on Aadhaar</td>
          <td class="scol">A Laxmi Narasimha Bai</td>
        </tr>
        <tr>
          <td class="fcol">DOB on Aadhaar</td>
          <td class="scol">A</td>
        </tr>
        <tr>
          <td class="fcol">DOB on Aadhaar</td>
          <td class="scol">20/04/1979</td>
        </tr>
        <tr>
          <td class="fcol">Aadhaar Front</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
        <tr>
          <td class="fcol">Aadhaar Back</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
  <!-- <div class="second">
    <label for="">Photo</label>
    <progress max="10" value="10"></progress>
    <button>Upload<i class="pi pi-upload"></i></button>
    <p>Uploaded 1 file</p>
    <p>preview</p>
    </div> -->
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 33333 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>PAN Card</h2></td>
        </tr>
        <tr>
          <td class="fcol">PAN Number</td>
          <td colspan="2" class="scol"><input type="text" placeholder="EJAPS0276M"></td>
        </tr>
        <tr>
          <td class="fcol">DOB on PAN</td>
          <td class="scol">20/04/1979</td>
        </tr>
        <tr>
          <td class="fcol">PAN</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- 44444 -->
<div class="customer-info">
  <div class="prime">
    <div class="basic">
      <table>
        <tr>
          <td colspan="2"><h2>Address Proof</h2></td>
        </tr>
        <tr>
          <td class="fcol">Electricity bill</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
        <tr>
          <td class="fcol">passport</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
        <tr>
          <td class="fcol">Ration Card</td>
          <td ><progress max="10" value="10"></progress></td>
          <td class="scol">Uploaded 1 file</td>
          <td class="pcol">preview</td>
        </tr>
      </table>
    </div>
    <div class="imgpre">
      <div class="imgbox">
        <img src="./assets/images/aadhar.jpg" alt="customer image">
      </div>
      <button>Preview <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="12" viewBox="0 0 15.999 12">
        <g id="enable" transform="translate(-8 -10)">
          <path id="Path_257" data-name="Path 257" d="M23.835,15.165a8.525,8.525,0,0,0-15.67,0,2.2,2.2,0,0,0,0,1.671,8.525,8.525,0,0,0,15.67,0,2.2,2.2,0,0,0,0-1.67Z" fill="#0984f2"/>
          <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.667" cy="2.667" r="2.667" transform="translate(13.333 13.333)" fill="#fff9dd"/>
        </g>
      </svg>
      </button>
    </div>
  </div>
    <!-- nnnnew -->
    <div class="verification">
      <div class="verfied">
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select</option>
        </select>
     </div>
     <div class="err">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
      <select name="" id="">
        <option value="">Select Reason</option>
      </select>
      </div>
      <div class="hold">
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
        <select name="" id="">
          <option value="">Select Reason</option>
        </select>
     </div>
   </div>
   <div class="textcol"><textarea>free text</textarea></div>
</div>
<!-- last -->
  </div>
 </form>


