<div class="body-container">
  <!-- <div class="body-icon-navbar">
    <ul class="sidebarul">
      <li><i class="pi pi-home icons"></i></li>
      <li><i class="pi pi-wallet"></i></li>
      <li><i class="pi pi-slack"></i></li>
      <li><i class="pi pi-chart-line"></i></li>
      <li><i class="pi pi-cog"></i></li>
      <li><i class="pi pi-microsoft"></i></li>
    </ul>
  </div> -->
  <div class="body-ul-navbar">
    <nav><ul class="body-ul-navbar-list">
      <li class="body-ul-navbar-list-bluebackground">Customer<i class="pi pi-check"></i></li>
      <li>Basic information<i class="pi pi-check"></i></li>
      <li>KYC<i class="pi pi-check"></i><ul class="body-ul-navbar-list-gray">
        <li><i class="pi pi-angle-right"></i>Aadhaar Card</li>
        <li><i class="pi pi-angle-right"></i>PAN Card</li>
      </ul></li>
      <li>Addess Proof<i class="pi pi-check"></i></li>
      <li>Membership<i class="pi pi-check"></i></li>
      <li>Income Proof<i class="pi pi-check"></i></li>
      <li>Employment<i class="pi pi-check"></i></li>
      <li>Bank<i class="pi pi-check"></i></li>
      <li>Existing Loan<i class="pi pi-check"></i></li>
      <li>property<i class="pi pi-check"></i></li>
      <li class="listy">Guarantor 01<i class="pi pi-check"></i></li>
      <li class="listy">Guarantor 02<i class="pi pi-check"></i></li>
    </ul></nav>
  </div>
  <div class="body-horizontal-navbar">
    <nav><ul>
      <li>Home <i class="pi pi-angle-right"></i></li>
      <li>Saved Views <i class="pi pi-angle-right"></i></li>
      <li>Create <i class="pi pi-angle-right"></i></li>
      <li>Customer <i class="pi pi-angle-right"></i></li>
      <li><a routerLinkActive="active" routerLink="basic">Basic Information</a></li>
      <li><a routerLinkActive="active" routerLink="aadhar"></a></li>
      <li><a routerLinkActive="active" routerLink="pan"></a></li>
    </ul></nav>
    <router-outlet></router-outlet>
    <!-- <app-basic-informarion></app-basic-informarion> -->
    <!-- <app-aadhar-card></app-aadhar-card> -->
    <!-- <app-pancard></app-pancard> -->
  </div>
</div>
