<form action="">
  <div class="container">
     <div class="container2">
      <div>
        <h1>Credit Disbursement</h1>
      </div>
     <div class="customer-info">
       <h3>Credit Disbursement</h3>
       <div class="prime">
           <table>
             <tr>
               <th>Documents</th>
               <th colspan="2">Borrower</th>
               <th colspan="2">co-borrower</th>
             </tr>
             <tr>
               <td></td>
               <td class="secondcol">Filled</td>
               <td class="secondcol">Signed</td>
               <td class="secondcol">Filled</td>
               <td class="secondcol">Signed</td>
             </tr>
             <tr>
               <td class="firstcol">Loan Application Form(with Photograph affixed)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Sanction letter of customer</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Loan Application Form(with Photograph affixed)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Sanction letter of customer</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Loan Application Form(with Photograph affixed)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Sanction letter of customer</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td>
                 <label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
           </table>
           <table>
             <tr>
               <th>Product Specific</th>
             </tr>
             <tr>
               <td class="firstcol">Sanction letter of customer</td>
               <td class="secondcol"><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td class="secondcol"><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td class="secondcol"><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td class="secondcol"><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Loan Application Form(with Photograph affixed)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Sanction letter of customer</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
             <tr>
               <td class="firstcol">Loan Agreement(on e-stamp paper)</td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox" checked>
                 <span class="slider round"></span>
               </label>
             </td>
               <td><label class="switch">
                 <input type="checkbox">
                 <span class="slider round"></span>
               </label>
             </td>
             </tr>
           </table>
           <div class="intable">
             <table>
               <tr>
                 <td>Any unusual Account changes in CBs</td>
                 <td><input type="text"></td>
               </tr>
               <tr>
                 <td>CBS Loan A/C number after booking in CBS</td>
                 <td><input type="text"></td>
               </tr>
               <tr>
                 <td>Disbursement Date</td>
                 <td><input type="text"></td>
               </tr>
               <tr>
                 <td>EMI Date</td>
                 <td><input type="text"></td>
               </tr>
               <tr>
                 <td>EMI Amount</td>
                 <td><input type="text"></td>
               </tr>
               <tr>
                 <td>Comments</td>
                 <td><input type="text"></td>
               </tr>
             </table>
           </div>
       </div>
     </div>
     <div class="btns">
       <div>
         <button class="sav" (click)="onClick()">Complete</button>
         <button class="compt"  type="submit">Refer Back</button>
       </div>
     </div>
     </div>
  </div>

 </form>




